.app-content-wrap {

    section {
        @extend .display-none;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        position: fixed;
        background: scroll;

        &.content-current {
             @extend .display-block;
        }

        .app-section-container {
            padding-left: 280px;
            &.has-padding {
                padding-left: 310px;
            }
        }
        .app-section-sub-container {
            padding-left: 30px;
        }

        .app-section-container-right {
            max-width: 264px;
            float: right;
            position: absolute;
            right: 25px;
            top: 105px;
        }
        @media screen and (max-width: 70em) {
            
            .app-section-container-right {
                max-width: fit-content;
                right: auto;
                position: relative;
                margin-bottom: 85px;
                float: left;
                top: 25px;
            }
        }
     }
}

@mixin app-content-wrap-mobile() {
    .app-content-wrap {
        section {
            padding: 0;
        }
    }
    .app-section-container {
        margin: 0 !important;
        padding: 90px 0 0 0 !important;
        &.has-padding {
            margin: 0 15px !important;
        }
    }
    .app-section-sub-container {
        margin: 0 15px;
        padding: 0 !important;
    }
}