.app-bottomsheet {
    top: 0;
    visibility: hidden;
    height: 0%;
    transition-delay: 0.4s;

    >div:first-child {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        background: hsla(0, 0%, 0%, 0.24);
        opacity: 0;
        transition: visibility 0s linear 0.4s, opacity 0.4s;
        visibility: hidden;
      }

      &.is-visible {
        visibility: visible;
        transition-delay: 0s;

        > div:first-child {
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
          }
          .app-bottomsheet-wrapper {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .app-bottomsheet-wrapper {
        @extend .background-color-primary;
        bottom: 0;
        height: 100px;
        display: inline-flex;
        padding-top: 18px;
        padding-left: calc(28% - 200px);
        box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.35);
        transform: translateY(50%);
        transition: all 0.2s;
        opacity: 0;

        hr {
            height: 50px;
            border: 1px solid var(--color_light_bg);
            top: 2px;
            position: relative;
            margin: 0 10px;
        }
    }

    button {
        width: 55px;
        height: 55px;
        margin: 0 15px;
        border-radius: 50px;
        border: 2.2px solid #fff;
        background: transparent;
        color: #fff;
        transition: 0.2s ease;

        &:hover {
            background: #eeeeee6C;
        }
        &:active {
            background: var(--color_light_bg);
            color: var(--PrimaryColor);
        }

        i {
            font-size: 28px;
            line-height: 1.8;
        }
        span {
            color: #fff;
            position: relative;
            top: 10px;
            font-size: 13.2px;
        }
    }

}

.app-bottomsheet,
.app-bottomsheet-wrapper {
    position: fixed;
    z-index: 99;
}

.app-bottomsheet.is-visible,
.app-bottomsheet>div:first-child {
     height: 100%;
}

#modalContainer,
.app-bottomsheet,
.app-bottomsheet-wrapper,
.app-bottomsheet>div:first-child {
     width: 100%;
}

@mixin bottomsheet-mobile() {
    .app-bottomsheet {
        .app-bottomsheet-wrapper {
            height: 80px;
            justify-content: center;
            padding: 12px 0 0 2.5%;

            button {
                &:hover {
                    background: transparent !important;
                }
                &:active:focus {
                    background: var(--color_light_bg) !important;
                    color: var(--PrimaryColor);
                }
            }
        }
        > div button{
            width: 45px;
            height: 45px;
            padding: 0;
            margin: 0 3%;
            i {
                font-size: 23px;
            }
        }
    }
}