.app-image {
    @extend .transition-all-400ms;
    object-fit: cover;

    &.loading,
    &.error {
        filter: brightness(0.5);
    }
    &.loaded {
        filter: brightness(1);
    }

    &.small {
        width: 264px;
    }
    &.medium {
        width: 364px;
    }
    &.large {
        width: 564px;
    }

    &.animate {
        &:active {
            @extend .transition-scale-0_95;
        }
    }
}


.app-image-wrapper {
    width: fit-content;
    height: fit-content;

    .app-loader-busy {
        transform: translateY(-80px);
        left: -55%;
        width: fit-content;
    }
    
}

.app-image.loading + .app-loader-busy,
.app-image.error + .app-loader-busy,
.app-image-wrapper {
    display: inline-block;
}

.app-image.error + .app-loader-busy > div,
.app-image.loaded + .app-loader-busy,
.app-image-wrapper .app-loader-busy {
    display: none;
}
.app-image.error + .app-loader-busy::after {
    font-family: icons10;
    content: "\f1aa";
    font-size: 40px;
    position: absolute;
    color: #fff;
}