.searchAuto-select {
    height: 0;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    position: relative;
    float: left;

    &:hover,
    &:focus {
        @extend .background-color-light-bg;     
    }
    &:after {
        @extend .display-none;
    }

    &.open {
        .list { 
            opacity: 1;
            overflow: hidden;
        }
        .option {
            cursor: pointer;
            transition: all 0.2s;
            color: var(--color_dark_text);
            padding: 13px 15px;

            &:hover,
            &:active {
                background-color: #CFCFCF !important;
                color: #333 !important;
            }

            a {
                color: inherit;
                padding-right: 90%;
            }
        }
    }

    .list {
        max-height: 250px;
        background: transparent;
        opacity: 0;
        border: none;

        ul {
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            background: #F2F2F2;
            box-shadow: 0px 5px 8px var(--color_button);
            position: absolute;
            z-index: 999;
        }
    }
}

.app-search-box-auto,
.searchAuto-select:after {
    display: none !important;
}