.app-notification {
    @extend .background-color-primary;
    min-height: 56px;
    min-width: 230px;
    position: fixed;
    color: #fff;
    font-size: 15px;
    z-index: 1056;
    transition: bottom 0.2s;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);

    .app-notification__body {
        min-height: 56px;
        align-items: center;
        padding: 15px 25px;

        .app-notification__title {
            font-size: 18px;
            font-weight: 600;
            margin-top: -2px;
            margin-bottom: 5px;
        }
        .app-notification__image {
            position: relative;
            left: -8px;
            top: -12px;
            &:after {
                @include setFontIcon("f13e", #fff, 24px);
            }
        }
        .app-notification__image--custom {
            height: auto;
            width: auto;
            top: 0;
            background: none !important;
            &:after {
                display: none;
            }
            img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
        }
    }

    .app-notification__buttons {
        display: none;
        margin: 0 10px 10px 10px;

        .app-notification__button {
            @extend .transition-background-400ms;
            min-height: 39px;
            min-width: 40%;
            align-items: center;
            display: flex;
            flex-grow: 1;
            justify-content: center;
            text-align: center;
            background: #eeeeee22;
            margin: 5px;
            font-weight: 500;
            border: 2px solid transparent;

            &:hover {
                background:rgba(0, 0, 0, 0.02);
                border: 2px solid #ffffff77;
            }
            &:active {
                border: 2px solid #ffffff;
                background-color: #fff;
                color: var(--PrimaryColor) !important;
            }
        }
    }

    .app-notification__close {
        cursor: pointer;
        font-size: 12px;
        line-height: 12px;
        position: absolute;
        right: 8px;
        top: 8px;
        transition: color 0.1s;

        .app-notification__close-icon {
            &::after {
                @include setFontIcon("f114",#fff,22px);
                position: relative;
                top: 7px;
                right: 5px;
                opacity: 0.5;
            }
            &:hover::after {
                opacity: 1;
            }
        }
    }

    &.position-bottom-right.animation-slide-in {
        animation: position-right-slide-in 0.2s forwards;
        transform: translateX(100%);
    }
    &.position-bottom-right.animation-slide-out {
        animation: position-right-slide-out 0.2s forwards;
        transform: translateX(0);
    }
    @keyframes position-right-slide-in {
        to{
            transform: translateX(0);
        }
    }
    @keyframes position-right-slide-out {
        to{
            transform: translateX(100%);
        }
    }    
}
.app-notification .app-notification__body,
.app-notification .app-notification__buttons.is-visible {
    display: flex;
}
.app-notification--warning {
    background: #b09c38;
}
.app-notification--success {
    background: #4e946d;
}
.app-notification--danger,
.app-notification--error {
    background: #c94836;
}
.app-notification--default .app-notification__image:after {
    content: "\f13e";
}
.app-notification--info .app-notification__image:after {
    content: "\f178";
}
.app-notification--success .app-notification__image:after {
    content: "\f12c";
}
.app-notification--warning .app-notification__image:after {
    content: "\f18d";
}
.app-notification--danger .app-notification__image:after,
.app-notification--error .app-notification__image:after {
    content: "\f157";
}

@mixin app-notifications-mobile() {
    .app-notification {
        &.position-bottom-right.animation-slide-in {
            animation: position-bottom-slide-in 0.2s forwards;
            transform: translateY(100%);
        }
        &.position-bottom-right.animation-slide-out {
            animation: position-bottom-slide-out 0.2s forwards;
            transform: translateY(0);
            margin: 0;
        }
        &.position-bottom-right.animation-slide-in,
        &.position-bottom-right.animation-slide-out {
        width: 100% !important;
        right: 0 !important;
        bottom: 0 !important;
        }
        @keyframes position-bottom-slide-in {
            to{
                transform: translateY(0);
            }
        }
        @keyframes position-bottom-slide-out {
            to{
                transform: translateY(100%);
            }
        }
    }
}