.app-progress {
    @extend .transition-background-400ms;
    width: 400px;
    height: 5px;
    position: relative;
    overflow: hidden;
    background: var(--color_button);
    margin-bottom: 10px;

    span {
        @extend .background-color-primary;
        position: absolute;
        height: 100%;
        &::before,
        &::after {
            display: none !important;
        }
    }

    &.withIcon {
        width: 365px;
        overflow: visible;
        margin-left: 35px;

        i {
            position: absolute;
            left: -35px;
            top: -15px;
            color: var(--color_dark_text);
            font-size: 24px;
        }
    }
}

@mixin progress-bar-mobile() {
    .app-progress,
    .app-progress.withIcon {
        width: 90%;
    }
    .app-progress {
        &.withIcon {
            margin: 45px 0 10px 0;
            i {
                left: 0;
                top: 0;
                &::before {
                    position: relative;
                    top: -40px;
                    font-size: 36px;
                }
            }
        }
    }
}