.app-select {
    @extend .input-field-primary;
    @extend .transition-background-400ms;

    width: 285px;
    min-height: 35px;
    padding: 5px 8px;
    background: var(--color_light_bg);

    &:hover{
        border-color: #777;
    }

    &:focus {
        @extend .outline-none;
    }
    &:disabled {
        @extend .input-field-primary-disabled;
    }

    &.primary {
        border: none;
        width: fit-content;
        width: -moz-min-content;
        height: 34.8px;
        display: inline-flex;
        color: var(--PrimaryColor);
        font-size: 16.8px;
        padding: 0;
    }
    option {
        @extend .background-color-light-bg;
    }
}