.app-list {
    margin: 0;
    padding: 0;
    li {
        a {
            @extend .user-select-none;
            @extend .transition-all-400ms;
            padding: 12px 10px;
            border-bottom: 1px solid var(--color_light_grey);
            &:hover {
                @extend .background-color-light-grey;
            }
            &:active {
                @extend .background-color-link-bg-hover;
                transform: scale(0.99, 0.99);
                transition: 0.04s ease;
            }
        }
        i {
            font-size: 50px;
            line-height: 0;

            &.bg-primary {
                &:before {
                    font-size: 34px;
                    padding: 8px;
                }
            }
            &.primary {
                @extend .color-primary;
            }
        }
        img {
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
        p {
            &.app-list-subtitle{
                opacity: 0.8;
                margin: 0;
                padding: 0;
            }
            &.app-list-info {
                font-size: 15px;
                flex: none;
            }
        }
        div{
            width: 75%;
            height: fit-content;
            margin-left: 20px;
            display: inline-grid;
            align-items: center;  
        }

        span.app-list-title,
        p.app-list-subtitle {
            font-size: 16px;
            display: inline-block;
        }
    }
}
.app-list li,
.app-list li a {
    width: 100%;
    display: flex;
    color: var(--color_dark_text);
}

@mixin table-list-mobile() {
    .app-list li {
        a:hover:not(:active) {
            background: transparent;
        }
    }
}