.app-navbar-theme-switch {
  display: grid;
  cursor: pointer;
  padding: 10px 15px;
  margin: 5px 10px;
  border-radius: 4px;
  position: relative;
  align-items: center;
  flex-direction: row;
  grid-auto-flow: column;
  justify-content: flex-start;
  -webkit-tap-highlight-color: transparent;

  &:hover { background: var(--color-ui-hover-strong); }
  &:active {
    @if $platform == "windows10" { background-color: var(--color-ui-active-default); }
    @if $platform == "windows11" { opacity: 0.7; }
  }

  span {
    width: 100px;
    line-height: 1;
    font-size: 15px;
    user-select: none;
    padding-left: 10px;
    position: relative;
  }
}
.app-navbar-theme-switch input {
  display: none;
}

.app-navbar-theme-switch input + .app-navbar-theme-switch-icon {
  position: relative;
  height: 22px;
  width: 22px;
}


// 🌙 Moon Icon Shown
.app-navbar-theme-switch input + .app-navbar-theme-switch-icon:before {
  font-size: 22px;
  content: "\f18e";
  position: absolute;
  font-family: icons10;
  transform: scale(1);
  transition: transform 0.2s ease-in 0.12s;
}
// 🌙 Moon Icon Hidden
.app-navbar-theme-switch input:checked + .app-navbar-theme-switch-icon:before {
  transform: scale(0);
}

// ☀️ Sun Icon Shown
.app-navbar-theme-switch input + .app-navbar-theme-switch-icon:after {
  font-size: 22px;
  content: "\f120";
  position: absolute;
  transform: scale(0);
  font-family: icons10;
  transition: all 0.2s ease-in;
}
// ☀️ Sun Icon Hidden
.app-navbar-theme-switch input:checked + .app-navbar-theme-switch-icon:after {
  transform: scale(1);
  transition: transform 0.2s ease-in 0.12s;
}