._404-container {
    @extend .color-white;
    
    max-width: 800px;
    margin: 0 auto;
    padding: 25vh 25px 0 25px;

    ._404-sad-face {
        font-size: 120px;
    }
    ._404-upper {
        font-size: 28px;
    }
    ._404-lower {
        font-size: 16px;
    }
}