.index-box-header {
    @extend .background-color-nav;
    padding: 15px 0;

    .app-link-compound.primary {
        width: max-content;
        margin-left: 4%;
        padding-top: 10px;
        padding-right: 15px; 

        p { 
            padding: 2px;
            top: 5px; 
        }
        span { 
            left: 2px;
            top: 2.5px; 
        }
        i { 
            @extend .color-dark-text;
            display: contents;
        }
        span,p { 
            width: max-content; 
        }
        div {
            @extend .app-grid;
        }
    }
    img {
        margin-left: 10%;
        margin-right: 20px;
    }

}

.index-box-grid {
    margin: auto;
    position: relative;
    top: 45px;
    align-items: center;
    align-content: center;
    padding: 10px 0 25px 0;
    max-width: 1024px;
    text-align: center;
}

@mixin layout-index-mobile() {
    .index-box-header {
        .app-link-compound {
            display: none !important;
        }
        img {
            margin-left: 5%;
        }
    }
}