@import "./sub-components/NavBack.scss";
@import "./mobile/AppNavBar_Mobile.scss";

#app-nav-wrap {

    &.toggled {
        @extend .background-color-nav;
        @extend .transition-background-400ms;
        width: 74px;
        height: 100%;
        position: absolute;
        top: 0;
        display: inline-block;
        overflow-x: hidden;
        z-index: 1;

        #app-name,
        .app-switch,
        nav a span,
        nav ul h1 {
            @extend .display-none;
        }

        nav .app-hr {
            width: 56px;
            margin-left: 8px;
        }
        nav > div:first-child,
        nav > div:nth-child(2) {
            width: auto;
        }
    }

    nav {
        @extend .transition-background-400ms;
        @extend .background-color-nav;
        height: 100%;
        width: 280px; 
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 2;

        &.animate {
            ul li {
                & :active {
                    @extend .transition-scale-0_95;
                }
                a {
                    @extend .transition-all-400ms;
                }
            }
        }

        a {
            position: relative;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 2.4;
            padding: 8px 30px;
            font-weight: 400;
            color: var(--color_dark_text);
        }
        a span {
            @extend .user-select-none;
            font-size: 16px;
            margin: 0 8px;
            position: relative;
        }
        a:focus {
            @extend .outline-none;
        }

        ul {
            position: relative;
            top: 115px;
            display: block;
            margin: 0 auto;
            padding: 0 0 40px 0;
            list-style: none;
            flex-flow: row wrap;
            justify-content: left;

            li {

                &:hover {
                    @extend .background-color-link-bg-hover;
                }
                &:active {
                    @extend .background-color-link-bg-active;
                }

                a::after {
                    position: absolute;
                    left: 0;
                    width: 5px;
                    height: 41px;
                    background: var(--PrimaryColor);
                    content: '';
                    transition: transform 0.1s;
                    transform: translate3d(-150%, 0, 0);
                }
                a:before {
                    position: relative;
                    right: 5px;
                    font-size: 24px;
                    vertical-align: middle;
                }

                &.tab-current {

                    a {
                        @extend .font-weight-500;
                        
                        &::after {
                            transform: translate3d(0, 0, 0);
                        }
                    }
                    span::after {
                        @extend .color-primary;
                    } 
                }
            }

            h1 {
                font-weight: 700;
                margin: 0;
                padding: 8px 0 8px 24px;
                font-size: 15px;
            }
    
            .app-hr {
                margin: 10px 15px;
                width: 90%;
            }
        }

        .app-switch {
            margin: 15px 0 0 20px;
        }

        .app-nav-user {
            overflow: inherit;
            padding-left: 38px;
            padding-right: 8rem;
            display: table-cell;

            &:hover {
                @extend .background-color-link-bg-hover;
            }
            &:active {
                @extend .background-color-link-bg-active;
            }

            img {
                width: 35px;
                left: -18px;
                position: relative;
                vertical-align: top;
                border-radius: 50%;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
            }
            span {
                @extend .font-weight-500;
                right: 0;
            }
        }
    }
    
    nav > div:first-child,
    nav > div:nth-child(2) {
        @extend .background-color-nav;
        width: inherit;
        display: flex;
        position: fixed;
        z-index: 2;
        transition: inherit;
    }

    nav > div:first-child {
        padding-bottom: 10px;
    }
    nav > div:nth-child(2) {
        top: 50px;
    }

    #app-nav-toggle {
        @extend .transition-all-400ms;
        padding: 0 25px;

        &:hover {
            @extend .background-color-link-bg-hover;
        }
        &:active {
            @extend .background-color-link-bg-active;
        }
        &:after {
            @include setFontIcon("f106", var(--color_dark_text), 24px);
        }
    }
}