.app-accordion {
  overflow: hidden;
}
.app-accordion-title {
  @extend .transition-all-400ms;
  @extend .tap-highlight-none;

  display: flex;
  font-size: 15px;
  cursor: pointer;
  padding: 8px 15px;
  user-select: none;
  flex-direction: row;
  justify-content: space-between;
  @if $platform == "windows10" {
    background-color: var(--color-navbar-bg-default);

    &:active {
      background-color: var(--color-button-default);
      @extend .transition-scale-active;
    }
  }
  @if $platform == "windows11" {
    border-radius: 4px;
    border: 1.5px solid rgba(0,0,0,0.06);
    background-color: var(--color-button-default);

    &:hover {
      opacity: 0.8;
    }
    &:active {
      filter: brightness(0.85);
    }
  }
  
}
.app-accordion-panel {
  height: 0;
  overflow: hidden;
  transition: height 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &.show {
    height: 500px;
    transition: height 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}

@mixin accordion-mobile() {
  .app-accordion-title {
    &:hover:not(:active) {
      opacity: 1;
    }
  }
}