button,
.app-btn {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @extend .tap-highlight-none;

  @if $platform == "windows11" {
    border-radius: 4px;
    border: 1.5px solid;
    border-color: rgba(0, 0, 0, 0.08);
    border-bottom-color: rgba(0, 0, 0, 0.2);
  }

  &:focus, &:active, &:focus:active {
    outline: none;
  }
  &:focus-visible {
    transition: 0s ease;
    outline: 1px solid var(--color-text-default);
  }
}
.app-btn {
  height: 35px;
  font-size: 15px;
  user-select: none;
  vertical-align: middle;
  color: var(--color-text-default);
  background-color: var(--color-button-default);

  @if $platform == "windows10" {
    padding: 5px 15px;
    transition: 0.2s ease;
    border: 2px solid transparent;
    &:hover {
      filter: opacity(0.8);
      border-color: var(--color-button-hover);
    }
    &:active {
      filter: contrast(0.4);
      transition: 0.02s ease;
      border: 2px solid transparent;
    }
  }
  @if $platform == "windows11" {
    padding: 6px 11px;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      filter: brightness(0.85);
    }
  }
  
  &.btn-is-loading {
    cursor: auto;
    span { opacity: 0; }
  }

  &.app-btn-primary {
    @if $platform == "windows10" { background-color: var(--PrimaryColor); }
    
    @if $platform == "windows11" {
      background-color: var(--color-primary-adaptive);
      border-color: rgba(255, 255, 255, 0.08);
      border-bottom-color: rgba(0, 0, 0, 0.8);
    }
  }

  &.app-btn-primary-outline {
    color: var(--color-day-primary-night-white);
    @if $platform == "windows10" {
      border: 2px solid var(--PrimaryColor);

      &:active {
        background-color: var(--PrimaryColor);
      }
    }
    @if $platform == "windows11" {
      border: 1px solid var(--color-primary-adaptive);

      &:active {
        background-color: var(--color-primary-adaptive);
      }
    }
  }

  &.app-btn-danger {
    background: var(--color-danger-default);
  }
  &.app-btn-danger-outline {
    color: var(--color-danger-default);
    border-color: var(--color-danger-default);
    &:active { background-color: var(--color-danger-default); }
  }

  &.app-btn-success {
    background: var(--color-success-default);
  }
  &.app-btn-success-outline {
    color: var(--color-success-default);
    border-color: var(--color-success-default);
    &:active { background-color: var(--color-success-default); }
  }

  &.app-btn-primary,
  &.app-btn-danger,
  &.app-btn-success {
    color: var(--color-scheme-absolute);
  }
  &[class*="outline"] {
    background-color: transparent;
    &:active {
      filter: unset;
      color: var(--color-scheme-absolute);
    }
    &[disabled] {
      backdrop-filter: grayscale(1);
    }
  }

  @if $platform == "windows10" {
    &.animate:active {
      transform: scale(0.98, 0.98);
    }
  }
  
  &[disabled] {
    @extend .input-field-default-disabled;
    
    span { pointer-events: none; }
    &:active, &:hover {
      @extend .input-field-default-disabled;
    }
  }

  .app-loader-busy {
    position: absolute;
  }
  span {
    transition: opacity ease 0.2s;
  }
  // check if button child span has a sibling of same type
  span:first-of-type:not(:only-of-type) {
    padding-right: 5px;
  }
}

@mixin button-mobile() {
  .app-btn {
    &:hover {
      opacity: 1;
    }
  }
  .app-btn:not([class*="outline"]) {
    @if $platform == "windows10" {
      &:hover:not(:active) {
        filter: none;
        border-color: transparent;
      }
    }
    @if $platform == "windows11" {
      &:hover:not(:active) {
        filter: none;
        opacity: 1;
      }
    }
  }
}

@if $platform == "windows11" {
  body.dark-theme {
    .app-btn-primary, .app-btn-danger, .app-btn-success {
      border-bottom-color: rgba(200,200,200,0.5);
    }
  }
}