label.app-checkbox {
  cursor: pointer;
  user-select: none;
  @extend .tap-highlight-none;

  &:active input[type="checkbox"] {
    transition: 0.02s ease;
    transform: scale(0.92, 0.92);
  }

  input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    margin: 0 2px 0 3px;
    transition: 0.2s ease;
    -moz-appearance: none;
    -webkit-appearance: none;
    vertical-align: middle;

    &::before {
      width: 16px;
      height: 16px;
      content: "";
      display: flex;
      margin-top: -3px;
      margin-left: -3px;
      border-radius: 0;
      @extend .transition-background-400ms;

      @if $platform == "windows10" {
        border: 2px solid var(--color-button-hover);
        background-color: var(--color-background-default);
      }

      @if $platform == "windows11" {
        padding: 1px;
        border-radius: 4px;
        border: 1px solid var(--color-input-border-strong);
        background-color: var(--color-ui-hover-default);
      }
    }
    &:checked {
      @if $platform == "windows10" {
        &::before {
          background: var(--PrimaryColor);
          border: 2px solid var(--PrimaryColor);
        }
      }
      @if $platform == "windows11" {
        &::before {
          padding: 0;
          background: var(--color-primary-adaptive);
          border: 2px solid var(--color-primary-adaptive);
        }
      }
      
      &::after {
        width: 4px;
        height: 9px;
        content: "";
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 4px;
        transform: rotate(45deg);
        @if $platform == "windows10" { border: solid white; }
        @if $platform == "windows11" { border: solid var(--color-background-default); }
        border-width: 0 2px 2px 0;
        border-radius: 1px;
      }

      &:disabled {
        opacity: 0.8;
      }
    }
    
    &:checked:disabled::before,
    &:disabled::before {
      cursor: not-allowed;
    }
  }
}