.app-input-text {
  @extend .input-field-default;
  @extend .transition-background-400ms;

  &:focus {
    outline: none;
    @if $platform == "windows10" { border-color: #666; }
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 1;
    width: 24px;
    height: 24px;
    padding-right: 5px;
  }
}


.app-input-container {
  position: relative;
  display: inline-flex;

  @if $platform == "windows11" {
    .app-input-label:has(+ .app-input-text:focus) {
      margin-bottom: 0;
      border-bottom: 2px solid var(--color-primary-adaptive);
    }
    .app-input-label + .app-input-text {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      border-left-width: 0;
    }
  }
  @if $platform == "windows10" {
    .app-input-label:has(+ .app-input-text:hover) {
      border-color: #777;
    }
    .app-input-label:has(+ .app-input-text:focus) {
      border-color: #666;
    }
    .app-input-label + .app-input-text {
      border-left-width: 0;
    }
  }

  .app-input-label {
    display: flex;
    font-size: 15px;
    align-items: center;
    place-content: center;
    width: max-content;
    padding: 0 10px;
    border-right-width: 0 !important;
    background: var(--color-background-default);
    @extend .transition-background-400ms;

    @if $platform == "windows10" {
      border: 2px solid #999;
      background-color: var(--color-grey-light-alpha);
    }
    @if $platform == "windows11" {
      margin-bottom: 1px;
      border-radius: 4px;
      border-end-end-radius: 0;
      border-start-end-radius: 0;
      border: 1px solid #55555555;
      border-bottom: 1px solid #777;
    }
  }

  // Password OFF
  button.app-input-pass-toggler::after {
    content: "\f1db";
    font-size: 18.5px;
    @extend .font-icon-dark;
  }
  // Password ON
  input[type="password"] + div .app-input-pass-toggler::after { content: "\f189"; }

  &.input-success {
    .app-input-text {
      @if $platform == "windows10" { border-color: var(--color-success-default); }
      @if $platform == "windows11" { border-bottom-color: var(--color-success-default); }
    }
    .app-input-end-content {
      i::before {
        content: "\f12e";
        padding-right: 5px;
        color: var(--color-success-default);
      }
    }
  }
  &.input-danger {
    .app-input-text {
      @if $platform == "windows10" { border-color: var(--color-danger-default); }
      @if $platform == "windows11" { border-bottom-color: var(--color-danger-default); }
    }
    .app-input-end-content {
      i::before {
        content: "\f116";
        padding-right: 5px;
        color: var(--color-danger-default);
      }
    }
  }
  &.input-loading {
    .app-loader-busy {
      display: inline-flex;
    }
  }
}

.app-input-end-content {
  gap: 5px;
  right: 5px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;

  i::before {
    font-size: 16px;
  }
  button {
    border: none;
    padding: 2px 5px;
    margin-top: -1px;
    background: transparent;
    &:hover {
      background-color: var(--color-navbar-bg-default);
    }
    &:active {
      opacity: 0.7;
    }
  }
  .app-loader-busy { display: none; }
}

@mixin input-date-mobile() {
  input[type="date"].app-input-text::before {
    padding-right: 5px;
    content: attr(placeholder);
  }
}