.app-dropdown-menu.app-menubar {
  ul.app-dropdown-list {
    .app-input-search-box {
      width: 100%;

      .app-input-text {
        height: 34px;
        width: inherit;
        @if $platform == "windows11" { margin-bottom: 1px; }

        &:not(:focus) {
          border-color: #99999988;
        }
      }
    }
  }
}