.app-select-menu,
.app-dropdown-menu {
  padding: 0;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  @extend .input-field-default;
  @extend .transition-background-400ms;
  @if $platform == "windows10" { height: 30px; }
  @if $platform == "windows11" { height: 32px; }
  

  select {
    background-color: var(--color-background-default);
    color: var(--color-text-default);
    @extend .transition-background-400ms;

    width: 100%;
    height: 100%;
    border: none;
    font-size: 15px;
    appearance: none;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 35px;

    &:focus {
      outline: none;
    }
    option {
      background-color: var(--color-background-default);
    }
    &[disabled] {
      @extend .input-field-default-disabled;
    }
  }
  .app-dropdown-title {
    padding-right: 35px;
  }
  &::after {
    right: 10px;
    font-size: 13px;
    content: "\f10c";
    position: absolute;
    pointer-events: none;
    font-family: icons10;
  }
}