@mixin app-navbar-mobile() {
  .app-navbar-wrap nav {
    .app-navbar-toggler {
      @if $platform=="windows10" { padding: 12.5px 20px; margin: 0 5px; }
      @if $platform=="windows11" { padding: 7.5px 20px; margin: 5px; }
    }
    .app-navbar-list {
      margin: 55px 0 0 0;
    }
    :hover > li,
    :hover > .app-navbar-toggler,
    :hover > .app-navbar-submenu-title {
      background-color: transparent !important;
    }
  }
  @if $platform=="windows11" {
    .app-navbar-wrap .app-navbar-toggler {
      margin: 0;
    }
  }
}