.background-color-light-grey {
    background-color: var(--color_light_grey);
}

.background-color-light-bg {
    background-color: var(--color_light_bg);
}

.background-color-dark-text {
    background-color: var(--color_dark_text);
}

.background-color-nav {
    background-color: var(--color_nav);
}

.background-color-primary {
    background-color: var(--PrimaryColor);
}

.background-color-primary-light {
    background-color: var(--color_primary_light);
}

.background-color-primary-dark {
    background-color: var(--color_primary_dark);
}

.background-color-link-bg-hover {
    background-color: var(--color_link_bg_hover);
}

.background-color-link-bg-active {
    background-color: var(--color_link_bg_active);
}

.background-color-button-active {
    background-color: var(--color_button_active);
}

.border-color-primary {
    border-color: var(--PrimaryColor);
}

.color-dark-text {
    color: var(--color_dark_text);
}

.color-light-bg {
    color: var(--color_light_bg);
}

.color-button-hover {
    color: var(--color_button_hover);
}

.color-primary {
    color: var(--PrimaryColor);
}

.color-primary-light {
    color: var(--color_primary_light);
}

.color-white {
    color: #fff;
}

.font-size-16px {
    font-size: 16px;
}

.font-weight-500 {
    font-weight: 500;
}

.display-block {
    display: block;
}
.display-none {
    display: none;
}

.outline-none {
    outline: none;
}
.cursor-not-allowed {
    cursor: not-allowed;
}

.tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
}

.transition-background-400ms {
    transition: background 0.4s;
}
.transition-all-400ms {
    transition-property: background, transform, border;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
.transition-scale-0_95 {
    transition-property: background, transform;
    transition-duration: 0.09s;
    transition-timing-function: ease;
    transform: scale(0.965, 0.965);
}

.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.input-field-primary {
    height: 28px;
    width: 270px;
    border: 2.4px solid #999;
    box-shadow: none;
    padding-left: 10px;
    font-size: 15px;
    line-height: 1;
    color: var(--color_dark_text);
    vertical-align: middle;
    background: var(--color_light_bg);
}
.input-field-primary-disabled {
    filter: contrast(0.6);
    cursor: not-allowed !important;
}