@-moz-document url-prefix() {  
    ::-moz-selection {   
        background-color: var(--PrimaryColor);
        color: #fff;
    }
    .app-content-wrap section {
        scrollbar-color: #999 transparent;
    }
    #app-nav-wrap nav {
        scrollbar-width: thin;
    }
    
    h1.fixed,
    h2.fixed,
    h3.fixed,
    h4.fixed,
    h5.fixed {
        background: var(--color_light_bg) !important;
    }
    .app-select-options {
        background-color: #F9FBF9 !important;
    }
    .searchAuto-select .list ul {
        background-color: var(--color_nav) !important;
    }
    #modalContainer > #alertBox {
        background-color: var(--PrimaryColor) !important;
    }
}