@mixin app-navbar-mobile() {
    #app-nav-wrap nav {
        width: 100%;
        height: 93px;
        overflow-y: hidden;
        overflow-x: scroll;
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);

        ul {
            width: 100%;
            display: inline;
            white-space: nowrap;
            top: 45px;
            z-index: 2;

            li {
                display: inline-flex;
                a {
                    opacity: 0.6;
                    user-select: none;
                    -webkit-tap-highlight-color: transparent;

                    &::after {
                        width: 90%;
                        height: 3px;
                        bottom: 0;
                        left: 6.5px;
                    }
                }
                &.tab-current a {
                    opacity: 1;
                }
                &:last-child {
                    padding-right: 32px;
                }               
            }
            &.app-mobile-has-icons {
                li {
                    a {
                        padding: 5px 8px;
                        &::before {
                            right: 0;
                            font-size: 28px;
                        }
                        &::after {
                            width: 100%;
                            left: 0;
                        }
                    }
                }
            }
            li:hover,
            li a:hover,
            .app-nav-user:hover {
                background: transparent !important;
            }
        }
        .app-nav-user {
            padding-right: 0;
        }
        .app-switch {
            margin: 0;
            display: block;
            margin-top: -40px;
            position: fixed;
            left: 70%;
        }
        a {
            padding: 0;
            span {
                font-size: 20px;
                margin: 0 7px;
                bottom: 5px;
                right: 0;
            }
        } 
        &::-webkit-scrollbar { 
            height: 0 !important;
        }
        scrollbar-width: none; /* Mozilla ScrollBar */
    }

    #app-nav-toggle,
    #app-nav-wrap nav ul h1,
    #app-nav-wrap nav ul .app-hr,
    #app-nav-wrap nav ul:not(.app-mobile-has-icons) li a:before,
    #app-nav-wrap nav ul.app-mobile-has-icons li a span,
    #app-nav-wrap nav .app-nav-user span {
        display: none !important;
    }
}