@media only screen and (max-width: 760px) {
    
    ::-webkit-scrollbar { 
        width:2.4px 
    }
  
    #app-nav-wrap nav {  
        width: 100%;
        overflow-y: hidden;
        height: 93px;
        overflow-x: scroll;
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);

        ul {
            width: 100%;
            display: inline;
            white-space: nowrap;
            top: 45px;
            z-index: 2;

            li {
                display:inline-flex;
                a {
                    opacity: 0.6;
                    user-select:none;
                    -webkit-tap-highlight-color:transparent;
                    &::after {
                        height: 3px;
                        width: 90%;
                        bottom: 0;
                        left: 6.5px;
                    }
                }                
            }
            &.app-mobile-has-icons {
                li {
                    a {
                        padding: 5px 8px;
                        &::before {
                            right: 0;
                            font-size: 28px;
                        }
                        &::after {
                            left: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .app-nav-user {
            padding-right: 0;
        }
        .app-switch {
            margin: 0;
            position: fixed;
            display: block;
            margin-top: -40px;
            left: 70%;
        }
        a {
            span {
                font-size: 20px;
                margin: 0 7px;
                bottom: 5px;
                right: 0;
            }
        } 
        &::-webkit-scrollbar { 
            height: 0 !important 
        }
        scrollbar-width:none; /* Mozilla ScrollBar */
    }
    
    .app-back{
        padding: 5px 0px 0px 12px !important;
    }
    
    
    #app-nav-toggle,
    #app-nav-wrap nav ul h1,
    #app-nav-wrap nav ul .app-hr,
    #app-nav-wrap nav ul:not(.app-mobile-has-icons) li a:before,
    #app-nav-wrap nav ul.app-mobile-has-icons li a span ,
    #app-nav-wrap nav .app-nav-user span,
    .index-box-header .app-link-compound {
        display: none !important
    }
    
   
    
    #app-nav-wrap nav a,
    .app-content-wrap section{
        padding: 0;
    }
    
    
    h1.fixed,h2.fixed,h3.fixed,h4.fixed,h5.fixed {
        position: absolute;
        width: 100%;
        top: 90px;
        backdrop-filter:none !important;
    } 
    
    .app-section-container {
        margin: 0 15px !important;
        padding: 90px 0 !important;
    }
    
   
    
    .index-box-header img {
        margin-left: 5%;
    }
    
    
    a.app-back:hover,
    a.app-back.fixed.light:hover,
    #app-nav-wrap nav ul li:hover,
    #app-nav-wrap nav ul li a:hover,
    .app-bottomsheet > div button:hover,
    .app-container nav ul .app-nav-user:hover {
        background:transparent !important;
    }
    
    
    input[type="date"].app-input-text:before {
        content: attr(placeholder);
        padding-right:5px;
    }
    
    #modalContainer > #alertBox,
    .app-search-bar button:active {
        background:var(--AppColor) !important;
    }
    
    /*  ---------------------------  */
    
    /* mobile style for components   */
    
    .app-switch > div:hover,
    .app-search-bar button:active,
    #app-nav-wrap nav ul li.tab-current a {
        opacity:1
    }
    
    .app-button:hover {
        border-color:transparent;
        filter:none;
    }
    
    
    .app-button[disabled]:hover {
        filter: contrast(0.6);
        cursor: not-allowed
    }
    
    .app-list li a:hover,
    .app-link-compound:hover,
    .app-link-compound.accent:hover {
        background:transparent;
        border-color:transparent;
    }
    
    
    .app-list li a:active{
        background: var(--color_link_bg_hover);
    }
    
    .app-list li a:active,
    .app-list li a:focus {
        border-bottom: 1px solid var(--color_light_grey);
    }
    
    .app-link:hover,
    .app-bottomsheet-wrapper button:active:focus{
        color: var(--AppColor);
    }
    
    .app-bottomsheet {
        .app-bottomsheet-wrapper{
            height: 80px;
            justify-content: center;
            width: 102.5%;
            padding: 12px 0 0 2.5%;

            button:active:focus {
                background: var(--color_light_bg) !important;
            }
        }
        > div button{
            width: 45px;
            height: 45px;
            padding: 0;
            margin: 0 3%;
            i {
                font-size: 23px;
            }
        }

    } 
    
    .app-search-bar button:hover {
        background: var(--color_nav);
    }
    
    .app-search-bar button:hover::after {
        color:var(--color_dark_text) !important;
    }
    
    .app-search-bar button:active::after {
        color: var(--color_light_bg) !important;
    }
    
    .app-notification {
        &.position-bottom-right.animation-slide-in {
            animation:position-bottom-slide-in 0.2s forwards;
            transform:translateY(100%);
        }
        &.position-bottom-right.animation-slide-out {
            animation:position-bottom-slide-out 0.2s forwards;
            margin:0;
            transform:translateY(0);
        }
        &.position-bottom-right.animation-slide-in,
        &.position-bottom-right.animation-slide-out {
        width: 100% !important;
        right: 0 !important;
        bottom: 0 !important;
        }
        @keyframes position-bottom-slide-in{
            to{ transform:translateY(0);    }
        }
        @keyframes position-bottom-slide-out{
            to{ transform:translateY(100%); }
        }
    }
   
    
    
    .app-link-compound.withSwitch span {
        width:calc(100% - 60px);
    }
    
    .app-link-compound.withSwitch .app-switch {
        left: 0;
        top: 10px
    }
    
    .app-link-compound.withSwitch {
        display: block;
        padding: 0 0 20px 10px; 
    }
    
    .app-progress,
    .app-loader-bar,
    .app-progress.withIcon,
    .app-progress-indeterminate {
        width:90%
    }
    
    #modalContainer #alertBox{
        width:100% !important;
        min-height: 20px;
        left: 0 !important;
        margin: 0;
    }
    
    #modalContainer #alertBox .alertButtons {
        padding: 3px 30px;
        margin: 15px 15px 15px 0;
    }
    
    #app-nav-wrap ul li:last-child {
        padding-right:32px;
    }
    
    .app-avatar.large {
        width: 144px;
        height: 144px;
    }
    
    .app-avatar.medium {
        width: 104px;
        height: 104px;
    }
    
    .app-avatar.small {
        width: 64px;
        height: 64px;
    }
    
    .app-range-slider {
        height: 35px;
        flex-flow: column-reverse;
        padding-bottom: 15px;
        display: flex;
        padding: 10px 0px;
    }
    
    .app-range-slider span {
        line-height: 2.4;
    }
    .app-range-slider input[type="range"] {
        top: 0;
    }
    
    .app-progress.withIcon {
        margin: 45px 0 10px 0;
    }
    .app-progress.withIcon i {
        left: 0;
        top: 0;
    }
    .app-progress.withIcon i::before { 
        position: relative;
        top: -40px;
        font-size: 36px;
    }
    
   
   
}