<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    include common/navbar.pug

    <main class="app-page-container has-padding">
      <h1>Alerts</h1>

      <p>
        <span class="app-color-primary">Alert</span> component is used to interrupt the user with a mandatory confirmation or action.
      </p>

      <button class="app-btn" data-win-toggle="modal" data-win-target="#MyModal">
        <span>Open Alert Dialog</span>
      </button>

      <div class="app-alert" id="MyModal" data-win-toggle="modal" data-win-target="#MyModal" aria-labelledby="exampleModalLabel" tabindex="-1">
        <div class="app-alert-modal" aria-modal="true" role="dialog">
          <div class="app-alert-header">
            <h1>Alert</h1>
            <div class="app-alert-message">This is alert Box.</div>
          </div>
          <div class="app-alert-footer">
            <button class="app-btn app-btn-primary" data-win-toggle="modal" data-win-target="#MyModal">
              <span>OK to Close</span>
            </button>
          </div>
        </div>
      </div>
    
      <h2>Usage</h2>
      <pre><code id="code_view_1"></code></pre>

      <h2>Open Alert using a Button</h2>
      <pre><code id="code_view_2"></code></pre>

      <h1>AlertBars</h1>

      <div class="app-alert-bar alert-bar-secondary" role="alert" style="max-width: 500px">
        <i class="icons10-exclamation-mark app-color-primary"></i>
        <strong class="app-color-primary">Title</strong><span>This is a text</span>
        <div class="app-alert-bar-end-content">
          <button class="app-btn app-btn-primary">Button Regular</button>
          <button data-win-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <pre><code id="code_view_3"></code></pre>


      <br/>
      <div class="app-alert-bar alert-bar-success" role="alert" style="max-width: 500px">
        <i class="icons10-checkmark app-color-success"></i>
        <strong class="app-color-success">Title Success</strong><span>This is a text</span>
        <div class="app-alert-bar-end-content">
          <button data-win-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <pre><code id="code_view_4"></code></pre>


      <br/>
      <div class="app-alert-bar alert-bar-danger" role="alert" style="max-width: 500px">
        <i class="icons10-cross app-color-danger"></i>
        <strong class="app-color-danger">Title Danger</strong><span>This is a text</span>
        <div class="app-alert-bar-end-content">
          <button data-win-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <pre><code id="code_view_5"></code></pre>

      <br/><br/><br/><br/><br/>
    </main>
    <div>
  </body>
  include common/footer.pug
  +importing('Alerts')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <div class="app-alert" id="MyModal" data-win-toggle="modal" data-win-target="#MyModal" tabindex="-1">
      <div class="app-alert-modal" aria-modal="true" role="dialog">
        <div class="app-alert-header">
          <h1>Alert</h1>
          <div class="app-alert-message">This is alert Box.</div>
        </div>
        <div class="app-alert-footer">
          <button class="app-btn app-btn-primary"
            data-win-toggle="modal" data-win-target="#MyModal">
            <span>OK to Close</span>
          </button>
        </div>
      </div>
    </div>
    `).value;
    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn" data-win-toggle="modal" data-win-target="#MyModal">
      <span>Open Alert Default</span>
    </button>
    `).value;
    document.getElementById("code_view_3").innerHTML =
    hljs.highlightAuto(`
    <div class="app-alert-bar alert-bar-secondary" role="alert">
      <i class="icons10-exclamation-mark app-color-primary"></i>
      <strong class="app-color-primary">Title</strong><span>This is a text</span>
      <div class="app-alert-bar-end-content">
        <button class="app-btn app-btn-primary">Button Regular</button>
        <button data-win-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    `).value;
    document.getElementById("code_view_4").innerHTML =
    hljs.highlightAuto(`
    <div class="app-alert-bar alert-bar-success" role="alert">
      <i class="icons10-checkmark app-color-success"></i>
      <strong class="app-color-success">Title Success</strong><span>This is a text</span>
      <div class="app-alert-bar-end-content">
        <button data-win-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    `).value;
    document.getElementById("code_view_5").innerHTML =
    hljs.highlightAuto(`
    <div class="app-alert-bar alert-bar-danger" role="alert">
      <i class="icons10-cross app-color-danger"></i>
      <strong class="app-color-danger">Title Danger</strong><span>This is a text</span>
      <div class="app-alert-bar-end-content">
        <button data-win-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    `).value;
</html>