<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    include common/navbar.pug

    <main class="app-page-container has-padding">
      <h1>Appearance</h1>
      <p>The <span class="app-color-primary">Appearance</span> module exposes information about the user's appearance preferences,<br> such as their preferred color scheme (light or dark).</p>

      <h2>Usage</h2>
      <pre><code id="code_view_1"></code></pre>
      <div class="app-hr"></div>

      <h2><b>Methods</b></h2>

      <h2><p class="app-code">getColorScheme()</p></h2>
      <p>Indicates the current either system or user preferred color scheme.</p>
      <pre><code id="code_view_2"></code></pre>

      <h2><p class="app-code">setDarkScheme()</p></h2>
      <p>Set's app to <i>dark</i> color scheme.</p>
      <pre><code id="code_view_3"></code></pre>

      <h2><p class="app-code">setLightScheme()</p></h2>
      <p>Set's app to <i>light</i> color scheme.</p>
      <pre><code id="code_view_4"></code></pre>

      <h2><p class="app-code">setSystemScheme()</p></h2>
      <p>Set's app to <i>system</i> color scheme.</p>
      <pre><code id="code_view_5"></code></pre>

      <br/><br/>

    </main>
    </div>
  </body>
  include common/footer.pug
  +importing('Appearance')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    const colorScheme = Appearance.getColorScheme();
      if (colorScheme === "dark") {
        Appearance.setLightScheme()
        // Do action on dark color scheme
      }
    `).value;
    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
    Appearance.getColorScheme(); // 'light'/'dark'
    `).value;
    document.getElementById("code_view_3").innerHTML =
    hljs.highlightAuto(`
    Appearance.setDarkScheme();
    `).value;
    document.getElementById("code_view_4").innerHTML =
    hljs.highlightAuto(`
    Appearance.setLightScheme();
    `).value;
    document.getElementById("code_view_5").innerHTML =
    hljs.highlightAuto(`
    Appearance.setSystemScheme();
    `).value;
</html>