<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    include common/navbar.pug

    <main class="app-page-container has-padding">
      <h1>Buttons</h1>

      <button class="app-btn">
        <span>Default Button</span>
      </button>

      <button class="app-btn app-btn-primary">
        <span>Primary Button</span>
      </button>

      <button class="app-btn app-btn-subtle">
        <span>Secondary Button</span>
      </button>


      <h2>Button Default</h2>

      <button class="app-btn">
        <span>Default Button</span>
      </button>

      <button class="app-btn">
        <i class="icons10-plus"></i>
        <span>Button with icon</span>
      </button>

      <button class="app-btn" disabled>
        <span>Button Disabled</span>
      </button>

      <pre><code id="code_view_1"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Button state loading</h2>

      <button class="app-btn animate btn-is-loading">
        <div class="app-loader-busy loader-sm animate"></div>
        <span>Loading Button</span>
      </button>

      <pre><code id="code_view_2"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Button Primary</h2>

      <button class="app-btn app-btn-primary">
        <span>Button Regular</span>
      </button>

      <button class="app-btn app-btn-primary">
        <i class="icons10-fantasy"></i>
        <span>Primary Button</span>
      </button>

      <pre><code id="code_view_3"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Button Primary Outline</h2>

      <button class="app-btn app-btn-outline-primary" title="Button tooltip title">
        <span>Button Outline</span>
      </button>

      <button class="app-btn app-btn-outline-primary">
        <i class="icons10-fantasy"></i>
        <span>Primary Button</span>
      </button>

      <pre><code id="code_view_4"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Button Success</h2>

      <button class="app-btn app-btn-success">
        <span>Success Button</span>
      </button>

      <button class="app-btn app-btn-outline-success">
        <i class="icons10-checkmark"></i>
        <span>Success Button</span>
      </button>

      <pre><code id="code_view_5"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Button Danger</h2>

      <button class="app-btn app-btn-danger">
        <span>Danger Button</span>
      </button>

      <button class="app-btn app-btn-outline-danger">
        <i class="icons10-cross"></i>
        <span>Danger Button</span>
      </button>

      <pre><code id="code_view_6"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h1>Button as Icon:</h1>

      <button class="app-btn app-btn-subtle">
        <i class="icons10-home"></i>
      </button>

      <button class="app-btn app-btn-subtle">
        <i class="icons10-share"></i>
      </button>

      <pre><code id="code_view_7"></code></pre>

      //- <!-- ------------------------------------------------------- -->
      <br/><br/>
    </main>
    </div>
  </body>
  include common/footer.pug
  +importing('Buttons')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn">
      <span>Default Button</span>
    </button>

    <button class="app-btn">
      <i class="icons10-plus"></i>
      <span>Button with icon</span>
    </button>
    `).value;

    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn animate btn-is-loading">
      <div class="app-loader-busy loader-sm animate"></div>
      <span>Loading Button</span>
    </button>
    `).value;

    document.getElementById("code_view_3").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn app-btn-primary">
      <span>Button Regular</span>
    </button>

    <button class="app-btn app-btn-primary">
      <i class="icons10-fantasy"></i>
      <span>Primary Button</span>
    </button>
    `).value;

    document.getElementById("code_view_4").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn app-btn-outline-primary">
      <span>Button Outline</span>
    </button>

    <button class="app-btn app-btn-outline-primary">
      <i class="icons10-fantasy"></i>
      <span>Primary Button</span>
    </button>
    `).value;

    document.getElementById("code_view_5").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn app-btn-success">
      <span>Success Button</span>
    </button>

    <button class="app-btn app-btn-outline-success">
      <i class="icons10-checkmark"></i>
      <span>Success Button</span>
    </button>
    `).value;

    document.getElementById("code_view_6").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn app-btn-danger">
      <span>Danger Button</span>
    </button>

    <button class="app-btn app-btn-outline-danger">
      <i class="icons10-cross"></i>
      <span>Danger Button</span>
    </button>
    `).value;

    document.getElementById("code_view_7").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn app-btn-subtle">
      <i class="icons10-home"></i>
    </button>
    `).value;
</html>