<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
    include common/navbar.pug

    <div class="app-page-container has-padding">
      <h1>Buttons</h1>

      <button class="app-btn" type="button">
        <span>Default Button</span>
      </button>

      <button class="app-btn" type="button">
        <span><i class="icons10-plus"></i></span>
        <span>Button with icon</span>
      </button>

      <button class="app-btn" type="button" disabled>
        <span>Button Disabled</span>
      </button>

      <pre><code id="code_view_1"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Button state loading</h2>

      <button class="app-btn animate btn-is-loading" type="button">
        <div class="app-loader-busy loader-sm animate"></div>
        <span>Loading Button</span>
      </button>

      <pre><code id="code_view_2"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Button Primary</h2>

      <button class="app-btn app-btn-primary" type="button">
        <span>Button Regular</span>
      </button>

      <button class="app-btn app-btn-primary" type="button">
        <span><i class="icons10-fantasy"></i></span>
        <span>Primary Button</span>
      </button>

      <pre><code id="code_view_3"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Button Primary Outline</h2>

      <button class="app-btn app-btn-primary-outline" type="button" title="Button tooltip title">
        <span>Button Outline</span>
      </button>

      <button class="app-btn app-btn-primary-outline" type="button">
        <span><i class="icons10-fantasy"></i></span>
        <span>Primary Button</span>
      </button>

      <pre><code id="code_view_4"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Button Success</h2>

      <button class="app-btn app-btn-success" type="button">
        <span>Success Button</span>
      </button>

      <button class="app-btn app-btn-success-outline" type="button">
        <span><i class="icons10-checkmark"></i></span>
        <span>Success Button</span>
      </button>

      <pre><code id="code_view_5"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Button Danger</h2>

      <button class="app-btn app-btn-danger" type="button">
        <span>Danger Button</span>
      </button>

      <button class="app-btn app-btn-danger-outline" type="button">
        <span><i class="icons10-cross"></i></span>
        <span>Danger Button</span>
      </button>

      <pre><code id="code_view_6"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h1>Button Icon</h1>

      <button class="app-btn-icon">
        <i class="icons10-home"></i>
      </button>

      <button class="app-btn-icon">
        <i class="icons10-share"></i>
      </button>

      <pre><code id="code_view_7"></code></pre>

      //- <!-- ------------------------------------------------------- -->
      <br/><br/>
    </div>
  </body>
  include common/footer.pug
  +importing('Buttons')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn" type="button">
      <span>Default Button</span>
    </button>

    <button class="app-btn" type="button">
      <span><i class="icons10-plus"></i></span>
      <span>Button with icon</span>
    </button>
    `).value;

    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn animate btn-is-loading" type="button">
      <div class="app-loader-busy loader-sm animate"></div>
      <span>Loading Button</span>
    </button>
    `).value;

    document.getElementById("code_view_3").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn app-btn-primary" type="button">
      <span>Button Regular</span>
    </button>

    <button class="app-btn app-btn-primary" type="button">
      <span><i class="icons10-fantasy"></i></span>
      <span>Primary Button</span>
    </button>
    `).value;

    document.getElementById("code_view_4").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn app-btn-primary-outline" type="button">
      <span>Button Outline</span>
    </button>

    <button class="app-btn app-btn-primary-outline" type="button">
      <span><i class="icons10-fantasy"></i></span>
      <span>Primary Button</span>
    </button>
    `).value;

    document.getElementById("code_view_5").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn app-btn-success" type="button">
      <span>Success Button</span>
    </button>

    <button class="app-btn app-btn-success-outline" type="button">
      <span><i class="icons10-checkmark"></i></span>
      <span>Success Button</span>
    </button>
    `).value;

    document.getElementById("code_view_6").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn app-btn-danger" type="button">
      <span>Danger Button</span>
    </button>

    <button class="app-btn app-btn-danger-outline" type="button">
      <span><i class="icons10-cross"></i></span>
      <span>Danger Button</span>
    </button>
    `).value;

    document.getElementById("code_view_7").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn-icon">
      <i class="icons10-home"></i>
    </button>
    `).value;
</html>