<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    include common/navbar.pug

    <main class="app-page-container has-padding">
      <h1>Checkbox</h1>

      <input class="app-checkbox" type="checkbox" value="" id="CheckBoxDefault" checked>
      <label for="CheckBoxDefault">Checkbox</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="app-checkbox" type="checkbox" value="" id="CheckBoxDefault2" checked disabled>
      <label for="CheckBoxDefault2">Checkbox Disabled</label>
      
      <br/>

      <h2>Usage</h2>
      <pre><code id="code-switch"></code></pre>

      <h2>Checkbox Inline</h2>
      <p>• Just remove the <span class="app-code">span</span> from the checkbox.</p>

      <p>Lorem ipsum dolor sit amet <input class="app-checkbox" type="checkbox" value="" checked> sed do eiusmod tempor incididunt ut labore.</p>

      <input class="app-checkbox" type="checkbox" value="" checked>

      <pre><code id="code-switch-nolabel"></code></pre>
      <br/><br/>
    </main>
    </div>
  </body>
  include common/footer.pug
  +importing('CheckBox')
  script.
    document.getElementById("code-switch").innerHTML =
    hljs.highlightAuto(`
    <input class="app-checkbox" type="checkbox" value="" id="CheckBoxDefault" checked>
    <label for="CheckBoxDefault">Checkbox</label>
    `).value;
    document.getElementById("code-switch-nolabel").innerHTML =
    hljs.highlightAuto(`
    <p>Lorem ipsum dolor sit amet <input class="app-checkbox" type="checkbox" value="" checked> sed do eiusmod tempor incididunt ut labore.</p>

    <input class="app-checkbox" type="checkbox" value="" checked>
    `).value;
</html>