<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
    include common/navbar.pug

    <div class="app-page-container has-padding">
      <h1>Checkbox</h1>

      <label class="app-checkbox">
        <input type="checkbox" checked>
        <span>Checkbox</span>
      </label> &nbsp;&nbsp;&nbsp;&nbsp;
      <label class="app-checkbox">
        <input type="checkbox" checked disabled>
        <span>Checkbox Disabled</span>
      </label>
      <br/>

      <h2>Usage</h2>
      <pre><code id="code-switch"></code></pre>

      <h2>Checkbox Inline</h2>
      <p>• Just remove the <span class="app-code">span</span> from the checkbox.</p>

      <p>Lorem ipsum dolor sit amet <label class="app-checkbox"><input type="checkbox" checked></label> sed do eiusmod tempor incididunt ut labore.</p>

      <label class="app-checkbox">
        <input type="checkbox" checked>
      </label>

      <pre><code id="code-switch-nolabel"></code></pre>
      <br/><br/>
    </div>
  </body>
  include common/footer.pug
  +importing('CheckBox')
  script.
    document.getElementById("code-switch").innerHTML =
    hljs.highlightAuto(`
    <label class="app-checkbox">
      <input type="checkbox" checked>
      <span>Checkbox</span>
    </label>
    `).value;
    document.getElementById("code-switch-nolabel").innerHTML =
    hljs.highlightAuto(`
    <p>Lorem ipsum dolor sit amet <label class="app-checkbox"><input type="checkbox" checked></label> sed do eiusmod tempor incididunt ut labore.</p>

    <label class="app-checkbox">
      <input type="checkbox" checked>
    </label>
    `).value;
</html>