<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    include common/navbar.pug

    <main class="app-page-container has-padding">
      <h1>Dialogs</h1>
      <p>
        <span class="app-color-primary">Dialog</span> is a type of modal window that appears in front of app content to provide critical information or ask for a decision.
      </p>

      <button class="app-btn" type="button" data-win-toggle="modal" data-win-target="#MyDialog">
        <span>Open Dialog using a Button</span>
      </button>

      <div class="app-dialog" id="MyDialog" data-win-toggle="modal" data-win-target="#MyDialog" tabindex="-1">
        <div class="app-dialog-modal" aria-modal="true" role="dialog">
          <div class="app-dialog-header">
            <h3>Header</h3>
          </div>
          <div class="app-dialog-body">
            <li class="app-list-item">
              <a href="#/v4.2.1/dialogs"><img alt="image" style="display: none;">
                <div class="app-list-item-container">
                  <span class="app-list-title">Magenta Riddim</span><p class="app-list-subtitle">5.6 MB</p>
                </div>
              </a><div style="flex: 0.2 1 0%;"></div>
            </li>
            <li class="app-list-item">
              <a href="#/v4.2.1/dialogs"><img alt="image" style="display: none;">
                <div class="app-list-item-container"><span class="app-list-title">Different World</span>
                <p class="app-list-subtitle">12.0 MB</p></div></a><div style="flex: 0.2 1 0%;"></div>
            </li>
            <li class="app-list-item"><a href="#/v4.2.1/dialogs"><img alt="image" style="display: none;">
              <div class="app-list-item-container"><span class="app-list-title">La Familia</span>
              <p class="app-list-subtitle">24 MB</p></div></a><div style="flex: 0.2 1 0%;"></div>
            </li>
            <li class="app-list-item"><a href="#/v4.2.1/dialogs"><img alt="image" style="display: none;">
              <div class="app-list-item-container"><span class="app-list-title">La Familia</span>
              <p class="app-list-subtitle">24 MB</p></div></a><div style="flex: 0.2 1 0%;"></div>
            </li>
          </div>
          <div class="app-dialog-footer">
            <button class="app-btn" type="button" data-win-toggle="modal" data-win-target="#MyDialog">
              <span>Close</span>
            </button>
          </div>
        </div>
      </div>
    
      <h2>Usage</h2>
      <pre><code id="code_view_1"></code></pre>

      <h2>Open Dialog</h2>
      <pre><code id="code_view_2"></code></pre>
    </main>
    </div>
  </body>
  include common/footer.pug
  +importing('Dialogs')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <div class="app-dialog" id="MyDialog" data-win-toggle="modal" data-win-target="#MyDialog" tabindex="-1">
      <div class="app-dialog-modal" aria-modal="true" role="dialog">
        <div class="app-dialog-header">
          <h3>Header</h3>
        </div>
        <div class="app-dialog-body">
          <>Dialog Content</>
        </div>
        <div class="app-dialog-footer">
          <button class="app-btn" type="button" data-win-toggle="modal" data-win-target="#MyDialog">
            <span>Close</span>
          </button>
        </div>
      </div>
    </div>
    `).value;
    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
    <button class="app-btn" type="button" data-win-toggle="modal" data-win-target="#MyDialog">
      <span>Open Dialog</span>
    </button>
    `).value;
</html>