<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
    include common/navbar.pug

    <div class="app-section-container has-padding">
      <h1>Dialogs</h1>

      <p>
        <span class="color-primary">Dialog</span> is a type of modal window that appears in front of app content to provide critical information or ask for a decision.
      </p>

      <button class="app-btn" type="button" data-toggle="modal" data-target="MyModal">
        <span>Open Dialog</span>
      </button>

      <div class="app-alert" id="MyModal" data-toggle="modal" data-target="MyModal">
        <div class="app-alert-modal" aria-modal="true" role="dialog">
          <div class="app-alert-header">
            <h1>Alert</h1>
            <div class="app-alert-message">This is alert Box.</div>
          </div>
          <div class="app-alert-footer">
            <button class="app-btn app-btn-primary" type="button" data-toggle="modal" data-target="MyModal">
              <span>OK to Close</span>
            </button>
          </div>
        </div>
      </div>

      <div class="app-dialog show">
      <div class="app-dialog-modal">
      <div class="app-dialog-header">
      <h3>Header</h3>
      </div>
      <div class="app-dialog-body">
      <li class="app-list-item">
      <a href="#/v4.2.1/dialogs"><img alt="image" style="display: none;">
        <div class="app-list-item-container">
          <span class="app-list-title">Magenta Riddim</span><p class="app-list-subtitle">5.6 MB</p>
        </div>
      </a><div style="flex: 0.2 1 0%;"></div></li><li class="app-list-item"><a href="#/v4.2.1/dialogs"><img alt="image" style="display: none;"><div class="app-list-item-container"><span class="app-list-title">Different World</span><p class="app-list-subtitle">12.0 MB</p></div></a><div style="flex: 0.2 1 0%;"></div></li><li class="app-list-item"><a href="#/v4.2.1/dialogs"><img alt="image" style="display: none;"><div class="app-list-item-container"><span class="app-list-title">La Familia</span><p class="app-list-subtitle">24 MB</p></div></a><div style="flex: 0.2 1 0%;"></div></li><li class="app-list-item"><a href="#/v4.2.1/dialogs"><img alt="image" style="display: none;"><div class="app-list-item-container"><span class="app-list-title">La Familia</span><p class="app-list-subtitle">24 MB</p></div></a><div style="flex: 0.2 1 0%;"></div></li></div><div class="app-dialog-footer"><button class="app-btn animate btn-no-loading" type="button"><span>Close</span></button></div></div></div>
    
      <h2>Usage</h2>
      <pre><code id="code_view_1"></code></pre>

      <h2>Toggle alert visibility.</h2>
      <pre><code id="code_view_2"></code></pre>
    </div>
  </body>
  include common/footer.pug
  +importing('Alerts')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
      <div class="app-alert" id="MyModal" data-toggle="modal" data-target="MyModal">
        <div class="app-alert-modal" aria-modal="true" role="dialog">
          <div class="app-alert-header">
            <h1>Alert</h1>
            <div class="app-alert-message">This is alert Box.</div>
          </div>
          <div class="app-alert-footer">
            <button class="app-btn app-btn-primary" type="button"
              data-toggle="modal" data-target="MyModal">
              <span>OK to Close</span>
            </button>
          </div>
        </div>
      </div>
    `).value;
    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
      <button class="app-btn" type="button" data-toggle="modal" data-target="MyModal">
        <span>Open Alert Default</span>
      </button>
    `).value;
</html>