<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
    include common/navbar.pug

    <div class="app-page-container has-padding">
      <h1>InputTexts</h1>

      <p class="font-size-18px">The <span class="app-color-primary">Input</span> element is used to create interactive controls for forms in order to accept data from the user.</p>

      //- <!-- ------------------------------------------------------- -->

      <div class="app-input-container">
        <input class="app-input-text" type="text" placeholder="Enter a text" value="">
      </div>

      <br/><pre><code id="code_view_1"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Input Status :</h2>

      <div class="app-input-container input-success">
        <input class="app-input-text" type="text" placeholder="Enter a text success">
      </div>
      <br/><pre><code id="code_view_2"></code></pre>

      //- <!-- ------------------------------------------------------- -->
      
      <div class="app-input-container input-success">
        <input class="app-input-text" type="text" placeholder="Enter a text success">
        <div class="app-input-end-content">
          <i class="icons10-keyboard"></i>
        </div>
      </div>
      <br/><pre><code id="code_view_3"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <div class="app-input-container input-danger">
        <input class="app-input-text" type="text" placeholder="Enter a text danger">
        <div class="app-input-end-content">
          <i class="icons10-keyboard"></i>
        </div>
      </div>
      <br/><pre><code id="code_view_4"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Input Loading</h2>

      <div class="app-input-container input-loading">
        <input class="app-input-text" type="text" placeholder="Enter a text loading">
        <div class="app-input-end-content">
          <div class="app-loader-busy loader-sm animate"></div>
        </div>
      </div>
      <br/><pre><code id="code_view_5"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Input <p class="app-code">Password</p> :</h2>

      <div class="app-input-container">
        <input class="app-input-text" type="password" placeholder="Enter a password" id="MyInputPass">
        <div class="app-input-end-content">
          <button class="app-input-pass-toggler" type="button" data-win-toggle="password" data-win-target="#MyInputPass"></button>
        </div>
      </div>
      <br/><pre><code id="code_view_6"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>Input <p class="app-code">with Label</p> :</h2>

      <div class="app-input-container">
        <span class="app-input-label">label</span>
        <input class="app-input-text" type="text" placeholder="Enter a text" value="">
      </div>
      <pre><code id="code_view_7"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>TextArea</h2>

      <textarea class="app-textarea" placeholder="Input Text Area"></textarea>
      <pre><code id="code_view_8"></code></pre>

      //- <!-- ------------------------------------------------------- -->
      <br/><br/><br/><br/>
    </div>
  </body>
  include common/footer.pug
  +importing('Inputs')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <div class="app-input-container">
      <input class="app-input-text" type="text" placeholder="Enter a text">
    </div>
    `).value;
    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
    <div class="app-input-container input-success">
      <input class="app-input-text" type="text" placeholder="Enter a text success">
    </div>
    `).value;
    document.getElementById("code_view_3").innerHTML =
    hljs.highlightAuto(`
    <div class="app-input-container input-success">
      <input class="app-input-text" type="text" placeholder="Enter a text success">
      <div class="app-input-end-content">
        <i class="icons10-keyboard"></i>
      </div>
    </div>
    `).value;
    document.getElementById("code_view_4").innerHTML =
    hljs.highlightAuto(`
    <div class="app-input-container input-danger">
      <input class="app-input-text" type="text" placeholder="Enter a text danger">
      <div class="app-input-end-content">
        <i class="icons10-keyboard"></i>
      </div>
    </div>
    `).value;
    document.getElementById("code_view_5").innerHTML =
    hljs.highlightAuto(`
    <div class="app-input-container input-loading">
      <input class="app-input-text" type="text" placeholder="Enter a text loading">
      <div class="app-input-end-content">
        <div class="app-loader-busy loader-sm animate"></div>
      </div>
    </div>
    `).value;
    document.getElementById("code_view_6").innerHTML =
    hljs.highlightAuto(`
    <div class="app-input-container">
      <input class="app-input-text" type="password" placeholder="Enter a password" id="MyInputPass">
      <div class="app-input-end-content">
        <button class="app-input-pass-toggler" type="button" data-win-toggle="password" data-win-target="#MyInputPass"></button>
      </div>
    </div>
    `).value;
    document.getElementById("code_view_7").innerHTML =
    hljs.highlightAuto(`
    <div class="app-input-container">
      <span class="app-input-label">label</span>
      <input class="app-input-text" type="text" placeholder="Enter a text" value="">
    </div>
    `).value;
    document.getElementById("code_view_8").innerHTML =
    hljs.highlightAuto(`
    <textarea class="app-textarea" placeholder="Input Text Area"></textarea>
    `).value;
</html>