<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
    include common/navbar.pug

    <div class="app-page-container has-padding">
      <h1>InputSearch</h1>

      <p><span class="app-color-primary">InputSearch</span>  defines a text field for entering a search string.</p>

      <h2>InputSearchBar</h2>

      //- <div class="app-input-search-bar">
      //-   <input class="app-input-text" type="search" placeholder="Search here">
      //-   <button type="submit"></button>
      //- </div>

      <div class="app-input-search-bar">
        <input class="app-input-text" type="search" placeholder="Search here" />
        <div class="app-input-end-content">
          <button type="button"><i class="icons10-search"></i></button>
        </div>
      </div>

      <br/><pre><code id="code_view_1"></code></pre>

      //- <!-- ------------------------------------------------------- -->

      <h2>InputSearchBox</h2>

      <div class="app-input-search-box">
        <input class="app-input-text" type="search" placeholder="Enter to Search">
      </div>

      <br/><pre><code id="code_view_2"></code></pre>

      //- <!-- ------------------------------------------------------- -->
      <br/><br/>
    </div>
  </body>
  include common/footer.pug
  +importing('InputSearch')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <div class="app-input-search-bar">
      <input class="app-input-text" type="search" placeholder="Search here">
      <button type="submit"></button>
    </div>
    `).value;
    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
    <div class="app-input-search-box">
      <input class="app-input-text" type="search" placeholder="Enter to Search">
    </div>
    `).value;
</html>