<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
    include common/navbar.pug

    <div class="app-page-container has-padding">
      <h1>Links</h1>
      <p><span class="app-color-primary">Links</span> are accessible elements used primarily for navigation.<br>This component is styled to resemble a hyperlink and semantically renders an &lt;a&gt;.</p>

      <a class="app-link" href="#">This is a Link</a>
      <br/>
      <a class="app-link" href="#"><b>This is a Bold Link</b></a>
      <br/><pre><code id="code_view_1"></code></pre>

      <h2>LinkCompound</h2>

      <a class="app-link-compound" href="#">
        <div class="app-link-compound-container">
          <i class="icons10-timeline app-color-primary"></i>
          <div class="app-link-compound-subcontainer">
            <span>System Settings and preferences</span>
            <p>Customize system controls and more</p>
          </div>
        </div>
      </a>

      <pre><code id="code_view_2"></code></pre>

      <a class="app-link-compound" href="#">
        <div class="app-link-compound-container">
          <img src="./assets/mountain.jpg">
          <div class="app-link-compound-subcontainer">
            <span>User preferences and uploads</span>
            <p>Profile pictures and details</p>
          </div>
        </div>
      </a>
      <pre><code id="code_view_3"></code></pre>

      <a class="app-link-compound link-border" href="#">
        <div class="app-link-compound-container">
          <img src="./assets/macos.jpg">
          <div class="app-link-compound-subcontainer">
            <span>Notification settings and DND</span>
            <p>Control which app push notification</p>
          </div>
        </div>
      </a>
      <pre><code id="code_view_4"></code></pre>

      <br/><br/>
    </div>
  </body>
  include common/footer.pug
  +importing('Link')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <a class="app-link" href="#">This is a Link</a>
    `).value;
    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
    <a class="app-link-compound " href="#">
      <div class="app-link-compound-container">
        <i class="icons10-timeline app-color-primary"></i>
        <div class="app-link-compound-subcontainer">
          <span>System Settings and preferences</span>
          <p>Customize system controls and more</p>
        </div>
      </div>
    </a>
    `).value;
    document.getElementById("code_view_3").innerHTML =
    hljs.highlightAuto(`
    <a class="app-link-compound" href="#">
      <div class="app-link-compound-container">
        <img src="./assets/mountain.jpg">
        <div class="app-link-compound-subcontainer">
          <span>User preferences and uploads</span>
          <p>Profile pictures and details</p>
        </div>
      </div>
    </a>
    `).value;
    document.getElementById("code_view_4").innerHTML =
    hljs.highlightAuto(`
    <a class="app-link-compound link-border" href="#">
      <div class="app-link-compound-container">
        <img src="./assets/macos.jpg">
        <div class="app-link-compound-subcontainer">
          <span>Notification settings and DND</span>
          <p>Control which app push notification</p>
        </div>
      </div>
    </a>
    `).value;
</html>