<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    include common/navbar.pug

    <div class="app-page-container has-padding">
      <h1>Loaders</h1>
      <p>The <span class="app-color-primary">Loaders</span> are progress view that alerts a user to wait for an activity to complete.</p>
      <p>Toggle <span class="app-code">animate</span> class to show/hide loaders.</p>

      <div class="app-loader-bar animate"></div>
      <br/><pre><code id="code_view_1"></code></pre>

      <h2>LoaderBusy</h2>&nbsp;&nbsp;&nbsp;
      
      <div class="app-loader-busy loader-lg animate"></div>
      <br/><br/><pre><code id="code_view_2"></code></pre>
      <br/>&nbsp;&nbsp;&nbsp;
      
      <div class="app-loader-busy animate"></div>
      <pre><code id="code_view_3"></code></pre>
      <br/>&nbsp;&nbsp;&nbsp;
      
      <div class="app-loader-busy loader-sm animate"></div>
      <pre><code id="code_view_4"></code></pre>

      <br/><br/>
    </div>
    </div>
  </body>
  include common/footer.pug
  +importing('Loaders')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <div class="app-loader-bar animate"></div>
    `).value;
    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
    <div class="app-loader-busy loader-lg animate"></div>
    `).value;
    document.getElementById("code_view_3").innerHTML =
    hljs.highlightAuto(`
    <div class="app-loader-busy animate"></div>
    `).value;
    document.getElementById("code_view_4").innerHTML =
    hljs.highlightAuto(`
    <div class="app-loader-busy loader-sm animate"></div>
    `).value;
</html>