<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    include common/navbar.pug

    <main class="app-page-container has-padding">
      <h1>MenuBar</h1>
      <p>A 
        <span class="app-color-primary">MenuBar</span> is a graphical control element which contains drop-down menus.
      </p>

      <div class="app-dropdown-menu">
        <span class="app-dropdown-title" data-win-toggle="dropdown" data-win-target="#MyMenuBar">Select a fruit</span>
        <ul class="app-dropdown-list" id="MyMenuBar">
          <li class="app-dropdown-list-item"><a href="#"><i class="icons10-camera"></i>apple</a></li>
          <li class="app-dropdown-list-item"><a href="#">orange</a></li>
          <li class="app-dropdown-list-item"><a href="#">banana</a>
          </li><li class="app-dropdown-list-item"><a href="#">peach</a></li>
        </ul>
      </div>
    
      <h2>Usage</h2>
      <pre><code id="code_view_1"></code></pre>

      <h2>MenuBar with search</h2>

      <div class="app-dropdown-menu">
        <span class="app-dropdown-title" data-win-toggle="dropdown" data-win-target="#MyMenuBar2">Select a fruit</span>
        <ul class="app-dropdown-list" id="MyMenuBar2">
          <div class="app-input-search-box">
            <input class="app-input-text app-input-search" type="search" placeholder="search here..">
          </div>
          <li class="app-dropdown-list-item"><a href="#"><i class="icons10-camera"></i>apple</a></li>
          <li class="app-dropdown-list-item"><a href="#">orange</a></li>
          <li class="app-dropdown-list-item"><a href="#">banana</a></li>
          <li class="app-dropdown-list-item"><a href="#">peach</a></li>
        </ul>
      </div>
      <pre><code id="code_view_2"></code></pre>

    </main>
    </div>
  </body>
  include common/footer.pug
  +importing('MenuBar')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <div class="app-dropdown-menu">
      <span data-win-toggle="dropdown" data-win-target="#MyMenuBar">Select a fruit</span>
      <ul class="app-dropdown-list" id="MyMenuBar">
        <li class="app-dropdown-list-item"><a href="#"><i class="icons10-camera"></i>apple</a></li>
        <li class="app-dropdown-list-item"><a href="#">orange</a></li>
        <li class="app-dropdown-list-item"><a href="#">banana</a>
        </li><li class="app-dropdown-list-item"><a href="#">peach</a></li>
      </ul>
    </div>
    `).value;
    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
    <div class="app-dropdown-menu">
      <span data-win-toggle="dropdown" data-win-target="#MyMenuBar2">Select a fruit</span>
      <ul class="app-dropdown-list" id="MyMenuBar2">
        <div class="app-input-search-box">
          <input class="app-input-text app-input-search" type="search" placeholder="search here..">
        </div>
        <li class="app-dropdown-list-item"><a href="#"><i class="icons10-camera"></i>apple</a></li>
        <li class="app-dropdown-list-item"><a href="#">orange</a></li>
        <li class="app-dropdown-list-item"><a href="#">banana</a></li>
        <li class="app-dropdown-list-item"><a href="#">peach</a></li>
      </ul>
    </div>
    `).value;
</html>