<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    include common/navbar.pug

    <div class="app-page-container has-padding">
      <h1>NavBarLink</h1>

      <div class="app-navbar-wrap" style="position: relative; height: auto;">
        <nav class="animate custom" style="position: relative;">
          <ul class="app-navbar-list" style="padding: 0px; margin: 0px;">
            <li class="app-navbar-list-item">
              <a rel="noopener noreferrer" href="#" class="active">
                <i class="icons10-add"></i>
                <span>NavItem1</span>
              </a>
            </li>
            <li class="app-navbar-list-item">
              <a rel="noopener noreferrer" href="#">
                <i class="icons10-user"></i>
                <span>NavItem2</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <h2>Usage</h2>
      <pre><code id="code_view_1"></code></pre>

    </div>
    </div>
  </body>
  include common/footer.pug
  +importing('NavBarLink')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
      <li class="app-navbar-list-item">
        <a href="#" class="active">
          <i class="icons10-user"></i>
          <span>NavItem2</span>
        </a>
      </li>
    `).value;
</html>