<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    link(rel='stylesheet', href='./css/navbar.css')
    include common/navbar.pug

    <div class="app-page-container has-padding">
      <h1>NavBar</h1>

      <div class="app-navbar-wrap" style="position: relative; height: auto;">
        <nav class="animate custom" style="position: relative; z-index: 1;">
          <div class="app-navbar-header">
            <span class="app-navbar-toggler"></span>
            <span class="app-navbar-name">React Windows UI</span>
          </div>
          <ul class="app-navbar-list" style="padding: 0px;">
            <li class="app-navbar-list-item">
              <a rel="noopener noreferrer" href="#">
                <i class="icons10-home"></i>
                <span>Home</span>
              </a>
            </li>
            <h1>Title</h1>
            <div class="app-hr"></div>
            <li class="app-navbar-list-item">
              <a rel="noopener noreferrer" href="#" class="active">
                <i class="icons10-add"></i>
                <span>NavItem1</span>
              </a>
            </li>
            <li class="app-navbar-list-item">
              <a rel="noopener noreferrer" href="#">
                <i class="icons10-user"></i>
                <span>NavItem2</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <h2>Usage</h2>
      <pre><code id="code_view_1"></code></pre>

    </div>
    </div>
  </body>
  include common/footer.pug
  +importing('NavBar')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <aside class="app-navbar-wrap" id="NavBarMain">
      <div class="app-navbar-header-mobile">
        <span class="app-navbar-toggler" data-win-toggle="navbar-left" data-win-target="#NavBarMain"></span>
        <div>
          <span class="app-navbar-name">Windows UI</span>
        </div>
      </div>
      <nav class="app-navbar">
        <div class="app-navbar-header">
          <span class="app-navbar-toggler" data-win-toggle="navbar-left" data-win-target="#NavBarMain" aria-controls="NavBarMain" aria-label="Toggle navigation"></span>
          <span class="app-navbar-name">Windows UI</span>
        </div>
        <ul class="app-navbar-list">
          <label class="app-navbar-theme-switch">
            <input id="app-navbar-theme-switch" type="checkbox" checked>
            <div class="app-navbar-theme-switch-icon"></div>
          </label>
          <li class="app-navbar-list-item">
            <a href="./page1.html" class="active">
              <i class="icons10-sun"></i>
              <span>Page 1</span>
            </a>
          </li>
          <!-- .... -->
        </ul>
      </nav>
    </aside>
    `).value;
</html>