<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    include common/navbar.pug

    <div class="app-page-container has-padding">
      <h1>NavBarSubMenu</h1>

      <div style="width: 290px; background-color: var(--color-navbar-bg-default);">
        <div class="app-navbar-submenu">
          <div class="app-navbar-submenu-title" data-win-toggle="collapse" data-win-target="#NavSubMenuID">
            <div>Title</div>
          </div>
          <div class="app-navbar-submenu-content" style="height: 0px;" id="NavSubMenuID">
            <div class="app-navbar-wrap" style="height: 100px;">
            <nav class="animate custom" style="position: relative;">
              <ul class="app-navbar-list" style="padding: 0px; margin: 0px;">
                <li class="app-navbar-list-item">
                  <a href="#/navbar" aria-current="page" class="active">
                    <span>NavItem1</span>
                  </a>
                  </li>
                  <li class="app-navbar-list-item">
                    <a href="#/navbar">
                      <i class="icons10-user"></i>
                      <span>NavItem2</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <h2>Usage</h2>
      <pre><code id="code_view_1"></code></pre>

    </div>
    </div>
  </body>
  include common/footer.pug
  +importing('NavBarSubMenu')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <div class="app-navbar-submenu">
      <div class="app-navbar-submenu-title" data-win-toggle="collapse" data-win-target="#NavSubMenuID">
        <div>Title</div>
      </div>
      <div class="app-navbar-submenu-content" id="NavSubMenuID">
        <li class="app-navbar-list-item">
          <a href="./page.html" aria-current="page" class="unactive">
            <span>NavItem</span>
          </a>
        </li>
        <!-- More </li> Content -->
      </div>
    </div>
    `).value;
</html>