<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    include common/navbar.pug

    <main class="app-page-container has-padding">
      <h1>RadioButtons</h1>

      <input type="radio" class="app-radio-button" id="RadioButtonDefault" name="2" checked>
      <label for="RadioButtonDefault">Hellow</label> &nbsp;&nbsp;

      <input type="radio" class="app-radio-button" id="RadioButtonDefault2" name="2">
      <label for="RadioButtonDefault2">World</label>

      <br/><pre><code id="code_view_1"></code></pre>

      <h2>RadioButton no label</h2>
      <p>Just remove the <span class="app-code">label</span> from the radio button.</p>

      <input type="radio" class="app-radio-button" name="4" checked>
      <input type="radio" class="app-radio-button" name="4">
      <pre><code id="code_view_2"></code></pre>

      <br/><br/>
    </main>
    </div>
  </body>
  include common/footer.pug
  +importing('RadioButton')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <input type="radio" class="app-radio-button" id="RadioButtonDefault" name="2" checked>
    <label for="RadioButtonDefault">Hellow</label>

    <input type="radio" class="app-radio-button" id="RadioButtonDefault2" name="2">
    <label for="RadioButtonDefault2">World</label>
    `).value;
    document.getElementById("code_view_2").innerHTML =
    hljs.highlightAuto(`
    <input type="radio" class="app-radio-button" name="4" checked>
    <input type="radio" class="app-radio-button" name="4">
    `).value;
</html>