<!DOCTYPE html>
<html lang="en">
  include common/head.pug
  <body>
  <div class="container-flex-row">
    include common/navbar.pug

    <main class="app-page-container has-padding">
      <h1>TableView</h1>

      <div class="app-table-view-container">
        <table class="app-table-view">
          <thead>
            <tr>
              <th align="left">Fruits</th>
              <th align="left">Energy (KCal)</th>
              <th align="left">Color</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Papaya</td>
              <td>11845</td>
              <td>Orange</td>
            </tr>
            <tr>
              <td>Grapes</td>
              <td>12867</td>
              <td>Green</td>
            </tr>
            <tr>
              <td>Apple</td>
              <td>10867</td>
              <td>Red</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Usage</h2>
      <pre><code id="code_view_1"></code></pre>

      <br/><br/>
    </main>
    </div>
  </body>
  include common/footer.pug
  +importing('TableView')
  script.
    document.getElementById("code_view_1").innerHTML =
    hljs.highlightAuto(`
    <div class="app-table-view-container">
      <table class="app-table-view">
        <thead>
          <tr>
            <th align="left">Fruits</th>
            <th align="left">Energy (KCal)</th>
            <th align="left">Color</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Papaya</td>
            <td>11845</td>
            <td>Orange</td>
          </tr>
          <tr>
            <td>Grapes</td>
            <td>12867</td>
            <td>Green</td>
          </tr>
          <tr>
            <td>Apple</td>
            <td>10867</td>
            <td>Red</td>
          </tr>
        </tbody>
      </table>
    </div>
    `).value;
</html>