.app-page-container.home {
  background-image:
  radial-gradient(ellipse at top, #57aeff40, transparent),
  radial-gradient(ellipse at bottom, #f16ec91c, transparent);
}
/* Neumorphism UI */
.home_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.circle {
  min-width: 50vw;
  min-height: 50vw;
  display: flex;
  border-radius: 100%;
  position: absolute;
  right: 5%;
  bottom: -25vw;
}
.circle.small {
  min-width: 15vw;
  min-height: 15vw;
  margin-top: -20vh;
  position: relative;
  bottom: unset;
}
/* For Neumorphism Effect */
.neumorphism {
  background: #e0e5ec;
  box-shadow:  20px 20px 60px #77777777, 
               -20px -20px 60px var(--color-background-default);
}
body.dark-theme .neumorphism {
  background: #282828;
}

.home_code_container {
  box-shadow: 0px 2px 8px hsl(0deg 0% 0% / 10%);
  background: #1c1b1b;
  border-radius: 10px;
  overflow: hidden;
  max-width: 592px;
  font-weight: 600;
  margin: auto;
}
.home_code_subcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #394356;
}

/* Segmented Switch */
.home_switch {
  width: 180px;
  height: 35px;
  position: relative;
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;
}
.home_switch input {
  display: none;
}
.home_slider.round {
  border-radius: 6px;
}
.home_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3a3a3a;
  -webkit-transition: .4s;
  transition: .4s;
  border: 3px solid #3a3a3a;
}
/* moving slider section*/
.home_slider::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0;
  bottom: 0;
  background-color: #5c667a;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px;
}
/* slider text*/
.home_slider_text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  width: 100%;
  text-align: center;
}
.home_slider_text > span {
  color: #fff;
  font-size: 15px;
  width: 50%;
  display: block;
  float: left;
  transition: .4s;
  user-select: none;
}
/* changes on slide*/
input:checked + .home_slider::before {
  transform: translateX(87px);
}
input:checked + .home_slider .on {
  color: #fff;
}
.home_slider .home_slider_text .on,
input:checked + .home_slider .off  {
  color: #cfd6dd;
}