.preview-glyph {
  padding: 0;
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
}
.preview-glyphs {
  width: 168px;
  text-align: center;
}
.size-60 {
  font-size: 42px;
  width: 160px;
  text-align: center;
  display: inline-block;
  line-height: 1;
  position: relative;
}
.preview-icon-pre {
  background-color: var(--color-foreground-dark);
  padding: 4px 2px;
  display: block;
  margin: 2px;
  font-size: 10.62px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  color: var(--color-text-default);
  border: 1px solid var(--color-foreground-dark);
  border-radius: 4px;
  font-weight: bold;
}

.preview-flex-icons {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 760px) {
  .preview-icon-pre {
    font-size: 6px;
  }
  .preview-glyphs {
    width: 90px;
  }
  .size-60 {
    font-size: 40px;
    width: 90px;
  }
  .container {
    padding-bottom: 80px;
  }
}