:root {
    --PrimaryColor: #0078D4;
 /*   Change of your choice */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}

a {
	text-decoration: none;
	outline: none;
	font-weight: 500;
}

::selection {
    background-color: var(--PrimaryColor);
    color: #fff;
}

::-moz-selection {   
    background-color: var(--PrimaryColor);
    color: #fff;
}
::-webkit-scrollbar {
    width: 0.85em;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
}