<!DOCTYPE html>
<html lang="en">
	
<head>  
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>App Title</title>
    <link rel="shortcut icon" href="../src/core/img/favicon.ico" />   
    <link rel="stylesheet" type="text/css" href="../src/core/config/css/appConfig.css" />
    <link rel="stylesheet" type="text/css" href="../src/core/css/windows10framework.css" />
    <link rel="stylesheet" href="../src/core/icons/fonts/fonts.min.css">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#EEE" />
    <link rel="manifest" href="../manifest.json">
</head>  
	
<body>

    <div class="app-container"> 
        
       <!-- Side Navigation -->
	   <div id="app-nav-wrap">           
         <nav class="animate">       
            <!-- App Name--> 
            <div><a href="../index.html" class="app-back"></a><span id="app-name">App Name</span></div>
             <div><a href="#" id="app-nav-toggle"></a></div>
            <ul>
                <li><a href="#app-section-1" class="icons10-circle"><span>Tab 1</span></a></li>
                <li><a href="#app-section-2" class="icons10-circle"><span>Tab 2</span></a></li>
                <li><a href="#app-section-3" class="icons10-circle"><span>Tab 3</span></a></li>
                <li><a href="#app-section-4" class="icons10-circle"><span>Tab 4</span></a></li>
            </ul>
         </nav>
       </div>	
    
    
    <div class="app-content-wrap">
       
        
        
        
    <!-- Section 1 -->
     <section id="app-section-1">
  
        <div class="app-section-container">  
            
            <h1>Tab 1</h1> <!-- <h3 fixed>Tab 1</h3> -->
            
                <h3 class="spaning">Contents 1</h3>
                <!--    Contents    -->
            
         </div>
          
     </section>
        
        
        
        
    <!-- Section 1 -->
     <section id="app-section-2">
  
        <div class="app-section-container">  
            
            <h1>Tab 2</h1>
            
                <h3 class="spaning">Contents 2</h3>
                <!--    Contents    -->
            
         </div>
          
     </section>
        
        
        
    <!-- Section 1 -->
     <section id="app-section-3">
  
        <div class="app-section-container">  
            
            <h1>Tab 3</h1>
            
                <h3 class="spaning">Contents 3</h3>
                <!--    Contents    -->
            
         </div>
          
     </section>
        
        
        
    <!-- Section 1 -->
     <section id="app-section-4">
  
        <div class="app-section-container">  
            
            <h1>Tab 4</h1>
            
                <h3 class="spaning">Contents 4</h3>
                <!--    Contents    -->
            
         </div>
          
     </section>    
    
    
    
   
					
        </div><!-- /app-content-wrap(App Tab Host Wrapper) -->
				
    </div><!-- /app-container(Tabs Content Including Navigation) -->	

</body>

    <script src="../src/core/js/require/jquery.js"></script>  
    <script src="../src/core/config/appConfig.js"></script>
    <script src="../src/core/js/windows10framework.js"></script>
    <script src="../src/core/js/windows10framework.notifications.js"></script>  


</html>