<!DOCTYPE html>
<html lang="en">	
<head>  
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Windows10 framework</title>
    <link rel="shortcut icon" href="../assets/img/favicon.ico" />  
    
    <link rel="stylesheet" type="text/css" href="../app_config/css/appConfig.css" />
    <link rel="stylesheet" type="text/css" href="../app_config/css/accentColor.css" />
    <link rel="stylesheet" type="text/css" href="../assets/windows10framework.css" />
    <link rel="stylesheet" href="../assets/fonts/font/styles.min.css">
</head>
    	
<body>
			
<div class="app-container">			
<!-- Top Navigation -->
    <div class="app-tabs"> 
        
      <div id="app-wrapper">           
       <nav class="animate">       
        <!-- For App Name--> 
        <span id="app-name">Your App Title</span>
         <ul>
            <a href="#" class="app-nav-toggler" id="menu-toggle"></a><br>    
             <!-- Navigation Items-->
            <li><a href="#app-section-1" class="nav-icon icons8-circle"><span>Nav Item 1</span></a></li>
            <li><a href="#app-section-2" class="nav-icon icons8-circle"><span>Nav Item 2</span></a></li>
            <li><a href="#app-section-8" class="nav-icon icons8-circle"><span>Nav Item 3</span></a></li>
            <li><a href="#app-section-3" class="nav-icon icons8-circle"><span>Nav Item 4</span></a></li>
            <li><a href="#app-section-4" class="nav-icon icons8-circle"><span>Nav Item 5</span></a></li>
    
         </ul>
        </nav>
       </div>	
    
    <div class="app-content-wrap">
    
   

     <section id="app-section-1">
        
        <div class="app-section-container">     
            
            <h3>Title 1</h3>
            <h4>Contents Page 1</h4>
            <!--      Contents          -->
  
        </div>
         
     </section>
    
    
    
   
    <section id="app-section-2">
        
        <div class="app-section-container">
         
          <h3>Title 2</h3> 
          <h4>Contents Page 2</h4>    
          <!--      Contents          -->
            
        </div>        
        
    </section>    
        
        
        
    <section id="app-section-8">
    
        <div class="app-section-container">

          <h3 class="spaning">Title 3</h3>
          <h4>Contents Page 3</h4>
          <!--      Contents          -->
        
        </div>
        
    </section>
    
    
   
						
    <section id="app-section-3">
    
        <div class="app-section-container">
            
            <h3 class="spaning">Title 4</h3>
            <h4>Contents Page 4</h4>
            <!--      Contents          -->
         
        </div>
   
    </section>
    
    
        
     
     <section id="app-section-4"> 
    
        <div class="app-section-container">

            <h3><h3 class="spaning">Title 5</h3> </h3>
            <h4>Contents Page 5</h4>
            <!--      Contents          -->

        </div>
    
    </section>
     
    
    				
        </div><!-- /app-content-wrap -->				
    </div><!-- /app-tabs -->
</div><!-- /app-container -->


    <script src="../assets/require/jquery.js"></script>     
    <script src="../assets/windows10framework.js"></script>
    <script src="../assets/require/win-notification.js"></script>  
    <!--    App Components Config-->
    <script src="../app_config/js/notifiyConfig.js"></script> 

</body>

</html>
