<!DOCTYPE html>
<html lang="en">
	
    <head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<title>Windows10 404 page</title>
        <link rel="shortcut icon" href="../src/core/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="../src/core/config/css/appConfig.css" />
        <link rel="stylesheet" type="text/css" href="../src/core/css/windows10framework.css" />
        <link rel="stylesheet" href="../src/core/icons/fonts/fonts.min.css">
        <link rel="manifest" href="../manifest.json">
    </head>
	
    <body>
			
        <div class="app-container-screen primary">
            <a href="../index.html" class="app-back fixed light"></a>
              
            <div class="_404-container">
                <div class="_404-sad-face">
                :(
                </div>    
                <br>
                <p class="_404-upper">Your web page ran into a problem and need your attention. We have already collected some error info.</p>
                <p class="_404-lower">if you'd like to know more, you can search online for this error : 404_PAGE_NOT_FOUND</p>    
            </div>
           
        </div>
    	
    </body>
    <script src="../src/core/js/windows10framework.api.js"></script>
    <!-- API for setting current statusbar primary   -->
    <script>setStatusBarPrimary();</script>

</html>