<!DOCTYPE html>
<html lang="en">
	
    <head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Windows10 Splash Screen Logo Dark</title>
        <link rel="shortcut icon" href="../src/core/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../src/core/config/css/appConfig.css" />
        <link rel="stylesheet" type="text/css" href="../src/core/css/windows10framework.css" />  
        <link rel="stylesheet" href="../src/core/icons/fonts/fonts.min.css">   
    </head>
    
    <body>
        <div class="app-container-screen primary">
            <a href="../index.html" class="app-back fixed light"></a>
            <br><br><br><br><br>
            <br><br><br><br><br><br>
            
            <div class="splash-screen-logo light"><i class="icons10-idea"></i></div>
        
            <div class="app-loader-busy light" style="margin:auto">
                <div class="w-ball-wrapper ball-1">
                <div class="w-ball"></div></div>
                <div class="w-ball-wrapper ball-2">
                <div class="w-ball"></div></div>
                <div class="w-ball-wrapper ball-3">
                <div class="w-ball"></div></div>
                <div class="w-ball-wrapper ball-4">
                <div class="w-ball"></div></div>
                <div class="w-ball-wrapper ball-5">
                <div class=" w-ball"></div></div>
            </div>

            <h4 class="splash-screen-title">App loading Please Wait</h4>
        
        </div>

    </body>
    <script src="../src/core/js/windows10framework.api.js"></script>
    <!-- API for setting current statusbar primary   -->
    <script>setStatusBarPrimary();</script>

</html>