@mixin dark-win11() {
  [data-theme="dark"] {
    color-scheme: dark;
    --platform: "windows11";
    
    --color-danger-default: #FF99A3;
    --color-success-default: #6ACB5D;
    --color-scheme-absolute: #000;

    --color-background-default: #111111;
    --color-button-default: #484848;
    --color-day-primary-night-grey: #403E41;
    --color-day-primary-night-white: #FFFFFF;
    --color-dropdown-menu-bg: #202020;
    --color-foreground-default: #2B2B2B;
    --color-foreground-light: #444444;
    --color-input-border-default: #303030;
    --color-input-border-strong: #9A9A9A;
    --color-ui-active-default: #262626;
    --color-navbar-bg-default: #202020;
    --color-primary-adaptive: var(--PrimaryColorLight);
    --color-primary-alpha: #EEEEEE9C;
    --color-progress-bg: #484848;
    --color-slider-thumb-bg: #454545;
    --color-text-default: #FFFFFF;
    --color-ui-border-default: #282828;
    --color-ui-hover-default: #44444477;
    --color-ui-hover-strong: #2D2D2D;
  }
}