@mixin light-win11() {
  :root {
    color-scheme: light;
    --platform: "windows11";
    
    --color-danger-default: #C50500;
    --color-success-default: #2C8B2C;
    --color-scheme-absolute: #fff;

    --color-background-default: #ffffff;
    --color-button-default: #FEFEFE;
    --color-day-primary-night-grey: var(--PrimaryColor);
    --color-day-primary-night-white: var(--PrimaryColor);
    --color-dropdown-menu-bg: #F8F8F8;
    --color-foreground-default: #fff;
    --color-foreground-light: #EEEEEE;
    --color-foreground-alpha: #EEEEEED1;
    --color-input-border-default: #55555544;
    --color-input-border-strong: #8A8A8A;
    --color-link-bg-active: #D8D8D8;
    --color-link-bg-hover: #E8E8E8;
    --color-navbar-bg-default: #F3F3F3;
    --color-primary-adaptive: var(--PrimaryColor);
    --color-primary-alpha: #EEEEEE9C;
    --color-progress-bg: #E2E2E2;
    --color-slider-thumb-bg: #fff;
    --color-text-default: #000000;
    --color-ui-border-default: #E3E3E3;
  }
}