@mixin light-win11() {
  :root {
    color-scheme: light;
    --platform: "windows11";
    --color-primary-adaptive: var(--PrimaryColor);
    --color-danger-default: #C50500;
    --color-success-default: #2C8B2C;
    --color-scheme-absolute: #fff;

    --color-background-default: #ffffff;
    --color-button-default: #e9e9e9;
    --color-button-hover: #666666;
    --color-day-primary-night-grey: var(--PrimaryColor);
    --color-day-primary-night-white: var(--PrimaryColor);
    --color-foreground-default: #fff;
    --color-grey-light: #EEEEEE;
    --color-grey-light-alpha: #EEEEEED1;
    --color-link-bg-active: #D8D8D8;
    --color-link-bg-hover: #E8E8E8;
    --color-navbar-bg-default: #F3F3F3;
    --color-primary-alpha: #EEEEEE9C;
    --color-text-default: #000000;
  }
}