body {
	background: #fff;
	color: #74777b;
	font-weight: 400;
	font-size: 1em;
	font-family: Segoe UI, sans-serif;
    	margin: 0;
    	overflow: hidden;
}

a {
	color:#444;
	text-decoration: none;
	outline: none;
	font-weight: 500;
}
 

a:hover {
	background-color:#ddd; 
}

::selection {
	
    	background-color:var(--AppColor);
    	color: white;
}

::-moz-selection {
     
    	background-color:var(--AppColor);
    	color: white;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
	
	  width: 6.5px;
	  border-radius: 50px;
	  background-clip: padding-box;
	  border: 1.5px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  	box-shadow: inset 0 0 0 10px;
}
