<head>
  <title>Windows UI</title>
  <meta charset="UTF-8" />
  <meta name="theme-color" content="#EEE" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="manifest" href="../manifest.json" />
  <link rel="stylesheet" href="./css/code-styles.css" />
  <link rel="shortcut icon" href="./public/favicon.ico" />
  <link rel="stylesheet" href="../dist/icons/winui-icons.min.css" />
  <link rel="stylesheet" type="text/css" href="../dist/config/app-config.css" />
  <link rel="stylesheet" type="text/css" href="../dist/windows-ui.min.css" />
</head>