<aside class="app-navbar-wrap" id="NavBarMain">
  <div class="app-navbar-header-mobile">
    <span class="app-navbar-toggler" data-win-toggle="navbar-left" data-win-target="#NavBarMain"></span>
    <div style="display: flex; justify-content: space-between; flex: 1;">
      <span class="app-navbar-name">Windows UI</span>
      <span class="app-navbar-name">Home</span>
    </div>
  </div>
  <nav class="app-navbar">
    <div class="app-navbar-header">
      <span class="app-navbar-toggler" data-win-toggle="navbar-left" data-win-target="#NavBarMain" aria-controls="NavBarMain" aria-label="Toggle navigation"></span>
      <span class="app-navbar-name">Windows UI</span>
    </div>
    <ul class="app-navbar-list" id="app-navbar-list">
      <label class="app-navbar-theme-switch">
        <input id="app-navbar-theme-switch" type="checkbox">
        <div class="app-navbar-theme-switch-icon"></div>
      </label>
      <li class="app-navbar-list-item">
        <a href="./../index.html" class="">
          <img src="./assets/mountain.jpg">
          <span>Home</span>
        </a>
      </li>
      <div class="app-navbar-submenu">
        <div class="app-navbar-submenu-title" data-win-toggle="collapse" data-win-target="#NavSubMenu" aria-expanded="false">
          <span>Navigation</span>
        </div>
        <div class="app-navbar-submenu-content" id="NavSubMenu">
          <li class="app-navbar-list-item">
            <a exact="false" class="" href="./navbar.html">
              <i class="icons10-map"></i>
              <span>NavBar</span>
            </a>
          </li>
          <li class="app-navbar-list-item">
            <a exact="false" class="" href="./navbarLink.html">
              <i class="icons10-link"></i>
              <span>NavBarLink</span>
            </a>
          </li>
          <li class="app-navbar-list-item">
            <a exact="false" class="" href="./navbarSubmenu.html">
              <i class="icons10-angle-down"></i>
              <span>NavBarSubMenu</span>
            </a>
          </li>
          <li class="app-navbar-list-item">
            <a exact="false" class="" href="./navpagecontainer.html">
              <i class="icons10-columns"></i>
              <span>PageContainer</span>
            </a>
          </li>
        </div>
      </div>
    </ul>
  </nav>
</aside>