<div id="app-navbar-wrap-id" class="app-navbar-wrap">
  <div class="app-navbar-topbar-mobile">
    <span class="app-navbar-toggle-button"></span>
    <div style="display: flex; justify-content: space-between; width: calc(100% - 60px);">
      <span class="app-navbar-name">Windows UI</span>
      <span class="app-navbar-name">Home</span>
    </div>
  </div>
  <nav class="animate">
    <div class="app-navbar-header">
      <span class="app-navbar-toggle-button"></span>
      <span class="app-navbar-name">Windows UI Web</span>
    </div>
    <ul class="app-navbar-list" id="app-navbar-list">
      <label class="app-navbar-theme-switch">
        <input id="app-navbar-theme-switch" type="checkbox" checked>
        <div class="app-navbar-theme-switch-view"></div>
        <span id="app-navbar-theme-switch-text">Day Mode</span>
      </label>
    </ul>
  </nav>
  <div class="app-navbar-overlay"></div>
</div>